[2019-03-06 00:16] #995 closed

[2019-03-12 18:47] lorenzpahl opened #1295 "Glossary: the link for "filter" does not point to the definition of filter"
Clicking on the "filter" entry (https://docs.scala-lang.org/glossary/index.html#filter) in the sidebar of the glossary jumps to the search bar on the top of the page; not to the actual definition of the term.

Both, the input element of the search bar and the heading element of the term have the same id attribute value. That's why the link jumps to the search bar.

[2019-03-12 18:55] lorenzpahl opened #1296 "Glossary: search bar not working"
The search bar on the top of the [glossary](https://docs.scala-lang.org/glossary/index.html) page does not work. Entering a word always yields zero results.

Opening the browsers dev tools shows the following error in the console:

`Uncaught Error: Error: No input element in the page matches #doc-search-bar`

[2019-03-25 12:32] #1296 closed

[2019-03-25 12:32] #1295 closed

[2019-03-28 13:35] SethTisue commented on #1146
https://github.com/akka/akka/blob/master/CONTRIBUTING.md#java-apis-in-akka has a lot of valuable information in this area /cc @raboof

[2019-03-28 20:47] SethTisue commented on #1146
does Scala in Depth have a chapter on this? I can't remember. (if it does it's presumably out of date, but it could still be a good source to mine.)

[2019-04-01 01:19] ryancrawcour opened #1308 "There is no New => Scala class option"
When following the steps here, I try and add my new Scala class but alas, there is no option for New => Scala class.

I only have things like Java Class or Kotlin Class.

What gives?

[2019-04-01 07:25] Philippus commented on #1308
Assuming that you are using IntelliJ as you're mentioning Kotlin. Did you performs step 3 of the Installation? https://docs.scala-lang.org/getting-started-intellij-track/getting-started-with-scala-in-intellij.html (installing the Scala plugin)

[2019-04-02 17:23] SethTisue commented on #1308
that seems almost certain to be the problem

[2019-04-02 17:23] #1308 closed

[2019-04-04 16:24] #916 closed

[2019-04-16 09:41] valydia opened #1314 "Mention / Adding a section on escaping (double quotes, dollar sign, etc) in String Interporlation"
First and foremost, thank you for this awesome project 😄 !
This [article](https://docs.scala-lang.org/overviews/core/string-interpolation.html) doesn't say much escaping special character with string interpolations. IMHO, it would be helpful to highlight this works for special characters such as `double quotes`, `dollar sign` etc
It might be worth as well mentioning string interpolation with tripl

[2019-04-16 10:17] valydia commented on #1314
It might be worth as well mentioning string interpolation with triple quotes as well

[2019-05-01 09:01] pontsh opened #1321 "To polish Nested Method"
#### The example can be written in a more C-like form:

#### I think this verison is more comprehensable to many people

[code]

[2019-05-01 13:32] SethTisue commented on #1321
what page does this refer to?

[2019-05-02 17:38] eed3si9n opened #1324 "Localized landing pages and UX"
The Scala Documentation site contains many localized contents that various language community have put in efforts over the years. For example, [the entire collections docs](https://docs.scala-lang.org/ja/overviews/collections/introduction.html) are translated into Japanese, Tour of Scala lists nine languages including Spanish, Standard Chinese, Korean, etc.

It would be nice if we can create a lan

[2019-05-08 22:22] kotobotov commented on #1324
it's also good for search engine optimisation

[2019-05-14 08:04] martijnhoekstra opened #1328 "Out of date partest tutorial"
I stumbled upon https://docs.scala-lang.org/tutorials/partest-guide.html

This page is out of date, and I also can't find where it's generated to update it.

[2019-05-14 09:21] ashawley commented on #1328
It was deleted in 967d959, but because of the way the site publishes the old files aren't deleted.

You can create a redirect to overwrite the file, or restore the file and update it.

[2019-05-14 12:22] martijnhoekstra commented on #1328
I don't think this file should still exist -- neither a redirect nor an update seem suitable for it.

Are there more of these files that are deleted in the repo but still served? If so, should we get a full purge of those?

[2019-05-14 13:26] ashawley commented on #1328
I don't know if there are a lot of files like this or not.  The files on the server would need to be audited.  There may be a reason why old files are not purged.

[2019-05-14 14:39] #638 closed

[2019-05-14 14:39] dwijnand commented on #1328
See also https://github.com/scala/scala-lang/issues/929 which is about stale pages.  (I assume it's the same problem, maybe even the same setup.)

[2019-05-14 14:43] ashawley commented on #1328
That's about www.scala-lang.org, not docs.scala-lang.org, but yeah, same story different day.

[2019-05-17 02:52] SethTisue commented on #1328
@fsalvi can you delete this file from the server?

[2019-05-17 02:52] #1328 closed

[2019-05-17 12:33] ashawley commented on #1328
I believe #1329 the redirect will overwrite the old file.

[2019-05-21 21:19] SethTisue commented on #1321
I assume this refers to https://docs.scala-lang.org/tour/nested-functions.html

the whole point of that page is to demonstrate nested functions, so replacing it with a non-nested version doesn't make sense

if we do stick with the factorial example, the page should probably say that the point of using a nested method with an accumulator is to be tail-recursive

but also, perhaps a different exampl

[2019-05-30 08:14] dongxuwang opened #1339 "The code blocks for different languages need to be changed synchronously"
The non English version would not update whenever someone updates the code in some code block for the English version. For instance,
[This commit](https://github.com/scala/docs.scala-lang/commit/86b8f66fe0e78fae166b4fd39900a546df041e59) updated some lines in the code block:
https://docs.scala-lang.org/tour/pattern-matching.html
However, others did not:
https://docs.scala-lang.org/zh-cn/tour/patter

[2019-05-30 08:24] SethTisue commented on #1339
yes, volunteers are needed to keep the translations up to date with the English originals.

[2019-06-04 09:17] dongxuwang commented on #1224
@SethTisue can you help make a zh-cn skeleton of glossary so that I can add the Chinese Simplified

[2019-06-04 09:29] dongxuwang commented on #1224
I've tried to add the skeleton according to 'cheatsheet', but the dropdown for selecting languages failed to show in the zh-cn page.

[2019-06-04 13:11] SethTisue commented on #1224
I don't have enough experience with how the translations stuff works (in Jekyll in generally, or in our setup specifically) to offer assistance off the top of my head. perhaps someone else watching the repo could look at it...?

[2019-06-06 16:21] dongxuwang commented on #1224
Ok, after some researching I know how to cope with it. I am going to summit a pr for the skeleton together with the zh-cn translation.

[2019-06-10 20:37] SethTisue opened #1360 "Collection hierarchy diagrams in collections guides are out of date"
They were update at some point in the 2.13 cycle, but they aren't exactly right for 2.13.0, for example we noticed that `TreeSeqMap` and `CollisionProofHashMap` were missing.

[2019-06-11 02:10] dongxuwang opened #1361 "A mistake in the last sentence of mixin"
The `in` enclosing `_` should be apart from the word `to`, see https://docs.scala-lang.org/glossary/index.html#mixin

[2019-06-11 04:15] dongxuwang opened #1363 "A mistake in parameterless function of glossary"
See the first sentence of https://docs.scala-lang.org/glossary/index.html#parameterless-function

`de- fined` should be `defined`

[2019-06-11 04:24] dongxuwang commented on #1363
#1364

[2019-06-11 04:24] dongxuwang commented on #1361
#1362

[2019-06-11 04:56] #1361 closed

[2019-06-11 04:57] #1363 closed

[2019-06-11 05:37] SethTisue opened #1365 "Overviews page should make 2.13 collections standard, 2.12 extra"
at the moment, it's still the reverse, https://docs.scala-lang.org/overviews/index.html has the 2.12 stuff at the top and not distinguished as being for an old version

[2019-06-11 12:01] oxbowlakes opened #1367 "Adding custom collection operation which restricts element type of the input collection"
The  [documentation on adding custom operations to collections](https://github.com/scala/docs.scala-lang/blob/master/_overviews/core/custom-collection-operations.md) does not go into any detail about how to add operations to collections of particular element types. As [per my stackoverflow question](https://stackoverflow.com/questions/56542335/adding-custom-collection-operations-in-scala-2-13-to-a

[2019-06-12 00:32] dongxuwang opened #1368 "[glossary] lost a word in refinement type?"
Is it supposed to be filled with a word in here?
First sentence of https://docs.scala-lang.org/glossary/index.html#refinement-type
[code]

[2019-06-12 00:42] dongxuwang opened #1369 "[glossary] unsuitable quote for return."
It should be better to make term italic rather code quote, because any other terms are using italic.
First sentence of https://docs.scala-lang.org/glossary/index.html#return
[code]

[2019-06-12 01:19] dongxuwang opened #1372 "[glossary] lack of the right of parentheses in 'self type'"
The last sentence of https://docs.scala-lang.org/glossary/index.html#self-type
[code]

[2019-06-12 01:22] dongxuwang commented on #1368
#1370

[2019-06-12 06:47] dongxuwang opened #1374 "[glossary] word break in 'value type'"
See the last sentence of https://docs.scala-lang.org/glossary/index.html#value-type
Changed place:
[code]

[2019-06-12 07:27] dongxuwang opened #1376 "[glossary] typo in 'unreachable'"
See https://docs.scala-lang.org/glossary/index.html#unreachable
Do you think the word 'in' is supposed to  be 'of' within the statement 'at that point in time'?
[code]

[2019-06-12 08:30] dongxuwang commented on #1224
Finally, PR is #1378
This is really a huge commit for only one page(_zh_cn/glossary/index.md). However, it is recommended and worthwhile to read throughout the glossary, which is the "meta-language" of Scala after all.

[2019-06-13 21:58] SethTisue opened #1381 "compiler options page needs a refresh for 2.13"
https://docs.scala-lang.org/overviews/compiler-options/index.html needs updating (reported by @nafg on Gitter)

the `compilerOptionsExporter` subproject in the scala/scala report semi-automates this, so someone needs to run that and then put together a PR.

volunteer?

[2019-06-14 01:20] som-snytt commented on #1381
nafg is so helpful. This is on the list at https://github.com/scala/scala/pull/7686 which became https://github.com/scala/scala/pull/7908.

The build task could use some improvement to reduce hand tweaks.

I'll try to get to it in the absence of a volunteer, but perhaps helpful nafg will take it up.

[2019-06-20 06:08] dongxuwang opened #1386 "[cheatsheet] Source code of cheatsheet should not belong to overview, as of docs's website is."
See the banner of [website](https://docs.scala-lang.org/) ,  where cheatsheet is in. In contract, see its [source code](https://github.com/scala/docs.scala-lang/edit/master/_overviews/cheatsheets/index.md), which is under the overview.

[2019-06-20 12:26] SethTisue commented on #1372
(on something as small as this, you can just open a pull request directly, a separate issue is not needed)

[2019-06-20 12:27] #1372 closed

[2019-06-20 12:28] #1369 closed

[2019-06-20 12:28] SethTisue commented on #1369
(on something as small as this, you can just open a pull request directly, a separate issue is not needed)

[2019-06-20 12:29] #1376 closed

[2019-06-20 12:30] #1368 closed

[2019-06-20 12:31] #1374 closed

[2019-06-23 10:20] Philippus commented on #1360
I think @mslinn is working on this?
https://github.com/mslinn/scala-collections-charts/tree/2.13

[2019-06-24 05:19] exoego opened #1392 "Broken build: An external link is 404 in Korean translation"
All of recent build are broken due to this error.
[code]

It seems that Korean translation of `annoattions.html` has its own table like below.
![image](https://user-images.githubusercontent.com/127635/59993343-f1ecec00-968a-11e9-9b0f-579c5ebd626e.png)
Other translations has the table like this.
I am guessing the Korean ranslation could be outdated ??

[Other links in the table like this] is a Scal

[2019-06-24 05:35] exoego commented on #1392
Could be fixed by https://github.com/scala/docs.scala-lang/pull/1389

[2019-06-24 06:47] #1392 closed

[2019-06-24 06:48] #1365 closed

[2019-06-24 09:48] dongxuwang opened #1396 "(README.md)Improve the markdown editor part"
It is a little strange that there is only markdown editor recommended for mac.
Either remove the editor part or add editors for other OS.

[2019-06-24 11:24] dwijnand commented on #1396
I don't find it strange because I know a handful of reoccurring contributors to the docs are Mac users.

But if you have a markdown editor for some other OS that you really recommend feel free to send a PR with that suggestion!

[2019-06-24 11:24] #1396 closed

[2019-06-24 13:16] take2webservice opened #1399 "translate _ja/tour/automatic-closures.md"
I overlooked to translate this file.

[2019-06-24 20:05] mslinn commented on #1360
The reworked collection charts are ready for review at https://github.com/mslinn/scala-collections-charts/tree/2.13

[2019-06-24 20:34] SethTisue opened #1400 "`.deep` method is gone in 2.13 but not mentioned in migration guide"
missing from https://docs.scala-lang.org/overviews/core/collections-migration-213.html

reported by "Rogach" on #scala IRC

[2019-06-25 04:45] NthPortal commented on #1360
should they include `IterableOnce`?

[2019-06-25 05:06] mslinn commented on #1360
I don't think that end users should care about an implementation detail

[2019-06-25 05:59] NthPortal commented on #1360
`IterableOnce` is a trait (implemented by `Option`, no less, though I'm not sure I'd put that in the diagram)

[2019-06-25 11:13] mslinn commented on #1360
The goal of this project is merely to provide end users an intuitive understanding of the collection classes. Conceptually `IterableOnce`  is a [distinction without a difference](https://en.wikipedia.org/wiki/Distinction_without_a_difference) to everyone except to library authors of collection classes. I will add a description of the goals and non-goals of this project to the README.

[2019-06-25 11:32] dwijnand commented on #1360
Isn't whether a collection can be iterated only once or multiple times an important distinction?

[2019-06-25 11:40] mslinn commented on #1360
These charts are not intended to replace the need for written documentation. If it would be possible to include that level of detail in the charts, and keep them easy to read, that would be fine. If this is the only (deliberate) omission, then lets include it. Before making that decision, lets consider what else might be included with that level of detail.

Alternatively, it might be possible to u

[2019-07-02 09:08] julienrf opened #1410 "Include content of hello-scala.com"
As this has been discussed on [contributors](https://contributors.scala-lang.org/t/what-can-make-scala-more-popular/2995/83), it would be nice to include the content of hello-scala.com in docs.scala-lang.org.

I’m not sure where we should put it, though. It should probably go to the “Learn” section, after “Getting Started”. But it overlaps with many other pages of the documentation: the tour of Sc

[2019-07-03 06:06] SethTisue commented on #1399
can you suggest a reviewer...?

[2019-07-03 06:51] take2webservice commented on #1399
Thank you !
I'm asking @exoego this PR review now !

[2019-07-03 14:14] alvinj commented on #1410
My thoughts were that maybe the Tour could be a type of “Quick Tour,” with a theme something like “A Taste of Scala,” where people can read it in a relatively short time to get a feel for the language. At the end of Tour there could be two main links, one to the Scala Download page (for people who are ready to get started) and another to the book (for people who want to read/learn more). Then “Hel

[2019-07-03 14:53] sjrd commented on #1410
That sounds like a reasonable story line :)

[2019-07-06 18:20] NishanthSpShetty commented on #1149
Im still facing this issue on doc pages on both next and previous links. check [this](https://docs.scala-lang.org/tutorials/tour/classes.html.html) page.

[2019-07-07 13:48] SethTisue opened #1421 "PR validation failing with new round of 404s"
seen recently at e.g. https://ci.scala-lang.org/scala/docs.scala-lang/189/3

[code]

[2019-07-07 15:42] Philippus commented on #1399
closed in #1412, thank you!

[2019-07-07 15:42] #1399 closed

[2019-07-07 15:43] Philippus commented on #1261
closed by #1387 I think?

[2019-07-08 09:25] dwijnand commented on #1261
Yep

[2019-07-08 09:25] #1261 closed

[2019-07-08 13:44] #1149 closed

[2019-07-09 20:11] SethTisue commented on #996
closing since I'm not volunteering, I don't think @julienrf is either, and nobody else has

on the upside: the 2.13.0 release notes I assembled are quite comprehensive, so that's good

[2019-07-09 20:11] #996 closed

[2019-07-09 20:15] SethTisue commented on #997
the main things I can think of that could/should change would be to

* add the information that as of 2.13 it's a separate dependency
* make any needed updates now that parallel collections have their own inheritance hierarchy, instead of being part of the standard collections hierarchy

[2019-07-09 20:17] SethTisue commented on #1097
overall, I think the 2.13 collections docs are in good shape

scala-collection-contrib specifically isn't mentioned, but we haven't published it yet; I made a note about publicity/docs at https://github.com/scala/scala-collection-contrib/issues/20

[2019-07-09 20:17] #1097 closed

[2019-07-11 23:24] exoego opened #1429 "Sidebar ToC misaligned if <h4> exists"
If there are `<h4>` (heading level 4 elements) in page, it is displayed with no margin with parent heading in the sidebar ToC.

Example: https://docs.scala-lang.org/tutorials/scala-for-java-programmers.html#anonymous-functions
![image](https://user-images.githubusercontent.com/127635/61091636-de5cc600-a47d-11e9-9e56-00a95fed1f5c.png)

[2019-07-12 02:48] exoego commented on #1224
I think this issue is closable since #1378 made the glossary translatable.

[2019-07-12 03:43] flakeparadigm opened #1431 "Style Docs Missing Arity-1 and Higher-order Functions sections"
On the style guide, the Table of contents includes an entry for Arity-1 and Higher-Order Functions under "Method invocation": https://docs.scala-lang.org/style/

However the linked page (https://docs.scala-lang.org/style/method-invocation.html) doesn't actually contain these sections.

Were they forgotten, or no longer relevant?

[2019-07-12 06:12] dongxuwang commented on #1224
I guess so.

[2019-07-12 07:19] #1224 closed

[2019-07-13 12:23] jrnos commented on #1109
The problematic example referring to App trait has been removed in commit dde4a8d32f0996f5e4c67bfc84f98f710f0905e4 so I'll close this issue as resolved.

[2019-07-13 12:23] #1109 closed

[2019-07-15 06:03] dongxuwang commented on #1421
The link is 502 now.

[2019-07-15 06:08] dongxuwang commented on #1429
This might be the browsers compatibility. It looks in an latest mac Chrome like this:

![image](https://user-images.githubusercontent.com/4261431/61197872-a8337680-a709-11e9-906a-167dfd35fc15.png)

[2019-07-15 16:51] Philippus commented on #1421
[code]

[2019-07-15 20:19] SethTisue commented on #1431
it's highly likely that nobody remembers what happened here

so, you or anyone interested in submitting a fix could 1) see if what happened is clear from looking at the history in version control, and 2) if it isn't, just don't worry about it, and go ahead and remove the bad entries

[2019-07-15 20:21] SethTisue commented on #1429
@dongxuwang even in your screen shot, the spacing looks wrong to me (tighter than it should be)

[2019-07-16 01:00] dongxuwang commented on #1429
Yes, kind of.
Well, I will check whether it is the jeklly's rendering problems or our css.

[2019-07-16 07:32] exoego commented on #1381
Opened a PR in https://github.com/scala/docs.scala-lang/pull/1435

[2019-07-16 08:02] flakeparadigm commented on #1431
It seems to be present in [this document on codecommit.com](http://www.codecommit.com/scala-style-guide.pdf) which seems to be one of the main sources for this part of the Scala site.

I can go ahead and open a PR to add the content from there.

[2019-07-17 10:04] dwijnand commented on #1421
I don't understand why these keep coming up...

[2019-07-18 00:23] valenterry opened #1439 "Style guide naming conventions doesn't cover formats / protocolls"
The Naming Conventions on the Style guide does not cover formats or protocols. It says:

What I mean by that are field names in classes that have the sole purpose of describing a format and are used to dervice/generate encoders and decoders and being seperate from the case class that is actually used within the rest of the code (using camelCase fields). These format-classes are usually used to sep

[2019-07-18 12:10] exoego commented on #1421
https://www.scala-lang.org/files/archive/nightly/docs/ is empty

[2019-07-18 16:06] SethTisue commented on #1421
it became empty because https://github.com/scala/scala-lang/issues/453#issuecomment-510458550

[2019-07-18 17:02] #1429 closed

[2019-07-18 17:09] SethTisue commented on #1439
pull request with updated wording welcome

[2019-07-18 20:37] #1381 closed

[2019-07-18 21:53] #1421 closed

[2019-07-19 05:59] maseev opened #1443 "Redundant `new` and `val` keywords usage in the 'Operators' section of the Scala Tour"
From the [Operators](https://docs.scala-lang.org/tour/operators.html):

[code]

Since case classes do not require the `val` keyword for parameters of case class primary constructor and do not require the `new` keyword to create an instance of a case class, the example above could be simplified as follows:

[code]

[2019-07-19 07:10] exoego opened #1444 "Compiler option page is still for Scala 2.12"
Even after PR #1435, `compiler-options.yml` still contains data for Scala 2.12.
One example is `-Xfuture`.
https://github.com/scala/docs.scala-lang/blob/8625f61f082e3a1d58ca050668d92bf2a0fdc4e1/_data/compiler-options.yml#L300-L303

[But in Scala 2.13](https://github.com/scala/scala/blob/63f89ba721034027a091663d226cd54915bac65f/src/compiler/scala/tools/nsc/settings/ScalaSettings.scala#L484-L486), `

[2019-07-19 07:14] exoego commented on #1444
Settinc Scala compiler version to 2.13.0 via

[code]

does not help.

[2019-07-19 15:22] SethTisue commented on #1443
agree.  a pull request with the fix would be welcome

[2019-07-19 20:11] #1324 closed

[2019-07-19 20:54] som-snytt opened #1447 "Site footer has 2.12 spec version"
Maybe if there was a simple "current spec" link, obviously.

[2019-07-19 20:59] som-snytt commented on #1444
That's a good one. I just noticed on my other PR that the sbt task is under 2.12.

[2019-07-19 22:05] som-snytt commented on #1444
The PR is automated output, with local paths edited out.

[2019-07-21 10:39] exoego opened #1454 "`Expand` buttons in Overview compromise usability"
A **Expand**-able card-type looks are used in [Overviews page](https://docs.scala-lang.org/overviews/).
I think it compromises usability (ease of navigation).
I suggest to stop using **Expand** button and make cards always full-height.

Please take into account usability and readability, not just "modern look", if those who responsible for docs.scala-lang are thinking redesign for Scala 3 (Dotty).

[2019-07-22 03:17] #1454 closed

[2019-07-23 21:05] #1431 closed

[2019-07-23 21:10] SethTisue commented on #1121
PR: https://github.com/scala/docs.scala-lang/pull/1456

[2019-07-23 21:11] #1439 closed

[2019-07-23 21:12] #1443 closed

[2019-07-23 21:12] SethTisue commented on #1447
PR #1458

[2019-07-23 22:06] SethTisue opened #1459 "all links to scala-lang.org should be https not http"
as noticed by @Philippus at https://github.com/scala/docs.scala-lang/pull/1458#pullrequestreview-265694532

[2019-07-23 23:19] exoego commented on #1386
PR: https://github.com/scala/docs.scala-lang/pull/1460

[2019-07-25 15:23] ashawley commented on #1386
I just came across this.  Sorry, I'm not following.  You mean how the cheatsheet is missing from overviews page, and is in the menu at the top of the page?

[2019-07-25 15:29] ashawley commented on #1386
Oh, I get it.  The markdown file for the cheatsheet is in "_overviews", but the cheatsheet isn't part of the "Overviews" part of the site.

I wonder if we take a different direction. Cheatsheet is getting long.  Anybody want to try to incorporate the cheatsheet back as an overview section?  That way it can be split up in to separate pages?

It could move out of "overviews" or stay, I guess I was m

[2019-07-26 14:48] #1447 closed

[2019-07-29 14:27] #1121 closed

[2019-07-29 23:41] exoego commented on #1386
Regardess of whether cheatsheet stays in overviews or not, we can split cheatsheet into sub pages.
Splitting cheatsheet into sub-pages can be addressed separately.

Both from site structure (URL) and content, the cheatsheets are not a a sub section of overviews right now.
So PR #1460 separate cheatsheet from overviews.
I think that is more straightforward and does not cause confusing for maintaine

[2019-07-30 07:53] exoego opened #1466 "Mention Scala Steward in "Library Author Guide""
cc: @fthomas

Recently [a blog post about Scala Steward](https://www.scala-lang.org/blog/2019/07/10/announcing-scala-steward.html) is posted on docs.scala-lang.
It is awsome, but blog could be easily forgotten as time passes since it is ordered by date.

So I suggest to mention Scala Steward in ["Library Author Guide" page](https://docs.scala-lang.org/overviews/contributors/index.html) which is a

[2019-07-30 20:27] #1386 closed

[2019-07-30 21:09] #938 closed

[2019-07-30 21:13] exoego commented on #938
You can now translate the page into your language with a redesigned theme.
Refer the instruction in https://github.com/scala/docs.scala-lang/pull/1467#issue-302398159

[2019-07-30 21:16] #1444 closed

[2019-07-30 23:17] TisonKun commented on #938
Thanks @exoego !

[2019-08-01 21:06] Philippus commented on #1400
discussion for removal took place here: https://github.com/scala/scala/pull/6912

[2019-08-06 18:53] #1400 closed

[2019-08-07 18:27] leventov opened #1485 "scala-for-java-programmers.md uses and explains deprecated procedure method syntax"

[2019-08-09 00:54] tahsmith opened #1486 ""Getting Started with Scala In IntelliJ" Broken for Scala 2.13"
Specifically, Worksheets to do not seem to work with Scala 2.13.

I imagine this is an issue specifically with Scala itself, or IntelliJ, but the docs here specifically recommend 2.13, which leaves newcomers (like me!) scratching their head.

[2019-08-09 01:37] SethTisue commented on #1486
it's probably https://github.com/scala/bug/issues/11654

[2019-08-09 02:27] tahsmith commented on #1486
It seems to depend on how the project is otherwise configured.

If I make a fresh project with 2.13.0, I just get no output.

If I change an existing project to 2.13.0 I get:

[code]

[2019-08-09 08:29] unkarjedy commented on #1486
Related IntelliJ Scala Plugin ticket:
https://youtrack.jetbrains.com/issue/SCL-15948

Think we can close it due to we already have https://github.com/scala/bug/issues/11654

[2019-08-12 02:06] Philippus commented on #689
Let's check with https://github.com/scala/docs.scala-lang/pull/1487 and update the https://github.com/scala/docs.scala-lang/blob/master/_sips/sip-template.md accordingly.

[2019-08-12 05:26] NthPortal commented on #689
The [by-name implicits SIP](https://github.com/scala/docs.scala-lang/blob/be16a0a472f335eefdf36997f6ceb4da37efe9ea/_sips/sips/2017-11-20-byname-implicits.md) uses regular GFM markdown blocks, and renders fine on the site ([link](https://docs.scala-lang.org/sips/byname-implicits.html)).

[2019-08-12 05:26] #689 closed

[2019-08-12 17:59] Philippus commented on #1486
There's a workaround mentioned in https://github.com/scala/bug/issues/11654#issuecomment-519834420, also the IntelliJ Scala plugin got updated which may already include the workaround.

[2019-08-13 19:43] #1459 closed

[2019-08-13 19:43] SethTisue commented on #1459
fixed by #1459

[2019-08-13 19:44] SethTisue commented on #1459
#1471 fixed it repo-wide

[2019-08-15 05:38] dongxuwang commented on #1485
#1490

[2019-08-15 06:06] #1485 closed

[2019-08-16 21:31] Philippus opened #1495 "FAQ has an A referring to old collection library"
see https://docs.scala-lang.org/tutorials/FAQ/collections.html

[2019-08-20 18:23] SethTisue opened #1504 "enable Dependabot in this repo (for Ruby)"
I have done this.

[2019-08-20 18:23] #1504 closed

[2019-08-20 18:32] #799 closed

[2019-08-20 23:56] #1486 closed

[2019-08-21 19:19] #1321 closed

[2019-08-26 07:03] eisemar opened #1512 "Tutorial: The example of case classes does not work"
The example in the section of "Case classes" in the tutorial does not work.

The tree in the tutorial is defined as an abstract class. But my IDE (IntelliJ IDEA) could not
find Sum, Const, eval and derive in the main method.

The solution is to create an object naming it for example Expr. In the object Tree should
be defined as a trait with the methods eval and derive. Then the case classes Sum, V

[2019-08-30 07:32] khlumzeemee commented on #1495
Hi @Philippus, could you be a bit more specific? Maybe a line number and an example: current value ==> expected value ?

[2019-09-08 20:02] Philippus commented on #1495
The answer is about the collection library as it was in scala 2.8. The collection library changed in scala 2.13.

[2019-09-08 21:05] khlumzeemee commented on #1495
Thank you for clarifying.
I can imagine two kinds of pull requests:
- Option 1: keep more or less the current structure, update diagrams and references, update content
**Pros**: faithful to the original
**Cons**: time consuming, review will be time consuming too, error prone

- Option 2: take a fresh start and reference blogs and/or recent official documentation which give a more up to date and of

[2019-09-08 21:20] khlumzeemee commented on #1495
Possible new references:
https://subscription.packtpub.com/book/application_development/9781788836302/1/ch01lvl1sec13/the-scala-2-13-collection-library
https://docs.scala-lang.org/overviews/core/architecture-of-scala-213-collections.html
https://www.scala-lang.org/api/current/scala/collection/index.html

[2019-10-01 09:44] ThisSudhanshu opened #1533 "The example code on Covariance subtopic in Variances does not print anything in REPL"
The code explaining covariance part of variances does not give any output but names were expected.
Expected Output: Whiskers, Tom
                             Fido, Rex

[2019-10-07 07:45] julienrf opened #1538 "Syntax highlighting problem for fenced code blocks"
As shown here: https://github.com/scala/docs.scala-lang/pull/1469#pullrequestreview-295418228

[2019-10-07 07:54] julienrf opened #1539 "Add “contributors list” to multipage guides"

[2019-10-08 05:04] maseev commented on #1512
I believe you're referring to this particular [section](https://docs.scala-lang.org/tutorials/scala-for-java-programmers.html#case-classes-and-pattern-matching) of the `Scala For Java Programmers` guide.

Here's a complete code example which pretty much copies every code block from the guide section you mentioned:

[code]

And here's a little demo which shows that IntelliJ IDEA can actually run th

[2019-10-08 16:12] SethTisue opened #1542 "add JDK 13 to JDK compat page"
right now https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html stops at 12

as per https://github.com/scala/bug/issues/11762 , JDK 13 users need 2.12.9 / 2.13.1 minimum

[2019-10-10 01:57] #1542 closed

[2019-10-14 07:39] julienrf commented on #1539
Actually, it’s here:

![Screenshot from 2019-10-14 09-38-09](https://user-images.githubusercontent.com/332812/66735352-6334f280-ee66-11e9-8ddd-51ac111e7105.png)

(we just had to wait for the pages to be merged for the thing to be visible)

[2019-10-14 07:39] #1539 closed

[2019-10-15 14:26] jducoeur opened #1550 "Link directly to other book"
In the later chapters of the new _Scala Book_ (notably in "Functional Programming" and "Pure Functions"), there are references to the related book _Functional Programming, Simplified_.  It would be helpful to the readers if these were links.

[2019-10-16 02:57] #210 closed

[2019-10-18 08:07] julienrf opened #1554 "Upgrade “library author guide” to sbt-pgp 2.x"
The instructions don’t work with the last version of sbt-pgp.

[2019-10-18 08:10] julienrf commented on #1410
Closed by #1469

[2019-10-26 21:27] ashawley opened #1560 "Table on page is broken"
Markdown isn't parsing table for a table of "Weak Conformance Relations":

https://docs.scala-lang.org/overviews/reflection/symbols-trees-types.html#subtyping-relationships

[2019-10-27 15:47] #1560 closed

[2019-10-28 23:38] alvinj opened #1563 "Automatically generate PDF, ePub, and MOBI versions of Scala Book"
This is the start of some notes on how to automatically create PDF, ePub, and MOBI versions of Scala Book. I have already generated first versions of these documents with a manual process (excluding a couple of problems noted below), and this is a writeup of how to automate the process.

## To create an ePub document

- Copy all markdown files and *LIST_OF_FILES_IN_ORDER* from the website director

[2019-11-11 10:47] #1550 closed

[2019-11-18 01:04] alvinj commented on #1563
I’m getting back into this process this weekend, and I just want to note that the main part of the ePub process is running this command after making some slight tweaks to the Markdown files:

[code]

For that command, the *metadata.txt* file looks like this:

[code]

You can add more information to that file, as well as a stylesheet, as described [in this medium.com article](https://medium.com/@da

[2019-11-24 11:52] eriklovlie opened #1587 "link to API doesn't seem to work"
In [this page](https://docs.scala-lang.org/tutorials/FAQ/finding-symbols.html) the following link is used several times:

`https://www.scala-lang.org/api/current/index.html#index.index-_`

I'm not entirely sure what should be happening but at least in my browser (firefox 70.0.1 on windows) the page I'm taken to doesn't seem to do what the above page states:

[2019-12-02 20:35] SethTisue commented on #1512
closing, since we don't have any clear confirmation that an issue exists

[2019-12-02 20:35] #1512 closed

[2019-12-05 18:50] alissapaluska opened #1598 "Link 'processing of XML data' on Introduction page points to 404"
Looking over the documentation on, https://docs.scala-lang.org/tutorials/tour/tour-of-scala.html.html, and in the second paragraph under 'Scala is functional,' there's a link, **processing of XML data**, that doesn't seem to direct me to an active page but rather **Not Found**, 404. The link address: https://docs.scala-lang.org/tutorials/tour/xml-processing.html

[2019-12-08 22:04] SethTisue commented on #1598
I think the best fix here would be to omit the reference to XML entirely. At one time, a decade ago or longer, built-in XML support was one of Scala's banner features. These days, it isn't worth calling attention to, especially in such a prominent position.

(Aside: in the same sentence, lord knows what "right-ignoring" is supposed to refer to, it doesn't mean anything to me.)

[2019-12-09 13:11] ashawley commented on #1598
Yeah, there was an attempt to remove references to XML in #743, but I guess we missed a few.

[2019-12-16 17:01] alvinj commented on #1563
I put the initial tools for creating EPUB and MOBI versions here:

- [github.com/alvinj/ScalaBookTools](https://github.com/alvinj/ScalaBookTools)

I don’t know how to get the website’s markdown files into the proper directory, but that should be a simple configuration change.

I’ll work on the PDF process next.

[2019-12-21 19:30] danielgerigk opened #1606 "https://docs.scala-lang.org/tutorials deprecated?"
Hey, I've noticed that the deprecated website [https://docs.scala-lang.org/tutorials](https://docs.scala-lang.org/tutorials) is still up, containing an older version of _A Tour of Scala_. (The latest version can be found at [https://docs.scala-lang.org/tour/tour-of-scala.html](https://docs.scala-lang.org/tour/tour-of-scala.html).) Is there a reason for not removing the old version?

[2019-12-22 01:20] SethTisue commented on #1606
@fsalvi perhaps the best approach here would be to remove the files but institute a redirect so that any URL for any of the old tutorial pages would redirect to the front page of the new tour?

[2019-12-23 11:08] fsalvi commented on #1606
Ok, I removed the old files and added redirects.

[2019-12-23 11:34] fooSynaptic opened #1608 "I got some error with the page `package object`"
I followed the tutorial of [package object](https://github.com/scala/docs.scala-lang/blob/master/_zh-cn/tour/package-objects.md)
And prepared scala scripts with follow directory format:
[code]
And run script `scala PrintPlanted.scala` parallize with gardening dir

but got exception as follow:
[code]

Can you help me to figure out this issue?

[2019-12-24 01:37] SethTisue commented on #1608
if you have multiple `.scala `files, the script runner (`scala Foo.scala`) no longer suffices, and you'll need to separately compile (`scalac *.scala`) and run (`scala Foo`) your code, or use a build tool or IDE which knows how to handle multiple source files.

if you have any followup questions, please use https://users.scala-lang.org (or any of the other sources of help listed at https://www.sca

[2019-12-24 01:37] #1608 closed

[2019-12-24 08:20] Philippus commented on #1608
After doing that, the example will still not work though. I've fixed that in https://github.com/scala/docs.scala-lang/pull/1609.

[2019-12-24 08:47] fooSynaptic commented on #1608
@Philippus @SethTisue thank for kindly support.

[2019-12-30 19:15] SethTisue commented on #1606
cool, thanks Fabien!

[2019-12-30 19:15] #1606 closed

[2019-12-30 21:05] Philippus commented on #836
The top google result for `scala symbols` has changed by now (for me at least). And I think most of this has been fixed after https://github.com/scala/docs.scala-lang/issues/1606#issuecomment-568444771.

[2020-01-01 17:56] chloecollins commented on #1587
I have also encountered this issue, on firefox 71.0. I believe it may be a vestigial link from v2.10-2.11, when this operation was supported. e.g. [v2.10.0](https://www.scala-lang.org/api/2.10.0/index.html#index.index-_). I was unable to find a similar page in the current API docs.

This could be replaced with an instruction directing the reader to use the search bar at the top of the current API

[2020-01-07 23:30] chloecollins commented on #1598
Is this still an issue? Visiting the page right now, I found this link to be directed towards https://github.com/scala/scala-xml/wiki/XML-Processing - which loads successfully.

[2020-01-08 01:28] ashawley commented on #1598
I notice the original post gives a link with two ".html" extensions.  Seems to redirect, now.  Was that the issue?

[2020-01-11 17:38] Philippus commented on #1598
I think this was fixed in https://github.com/scala/docs.scala-lang/issues/1606#issuecomment-568444771.

[2020-01-11 17:38] #1598 closed

[2020-01-13 10:43] Jasper-M opened #1621 "Style Guide "compilation unit" terminology"
In [this page](https://github.com/scala/docs.scala-lang/blob/master/_style/files.md) the style guide talks about compilation units as though every class, trait, object is a separate compilation unit. But AFAIK this conflicts with the "official Scala definition" of _compilation unit_, which says that (in general) every file is one compilation unit.

[2020-01-13 20:24] SethTisue commented on #1621
agree that this could be worded better

[2020-01-22 08:58] ShapelessCat opened #1627 "iterable.stringPrefix still exist???"
The `stringPrefix` method is mentioned in this page: https://docs.scala-lang.org/overviews/collections-2.13/trait-iterable.html
However, when I open a specific API page like `Iterable`, I **can't** find this method. Also in the REPL, I **can't** invoke this method.

A related issue, when I search "stringPrefix" I can see it in the searching result page of API Doc, but when I open a specific trait/

[2020-01-25 01:11] SethTisue commented on #836
@Philippus um, I haven't really followed this saga, but if nobody's been complaining recently, I'd be okay with closing the ticket, we can always reopen it if new complaints come in

[2020-01-25 02:18] SethTisue commented on #1627
I think a pull request simply removing the reference to `stringPrefix` from that page would be accepted. the method exists, as does its sibling `className`, but they are declared `protected[this]`, which is why you can't call them from the REPL.

afaics, these methods are only of interest to collections implementers, not collections users.

that seems like a bug in the Scaladoc tool — if the metho

[2020-01-25 04:40] #836 closed

[2020-01-28 01:28] SethTisue commented on #1538
someone want to look into whether this might be an easy adjustment in whatever Jekyll thing is doing the highlighting?

[2020-01-28 02:20] SethTisue commented on #1587
@chloecollins yes, I agree that's the right solution

[2020-01-28 02:27] ashawley commented on #1538
It is called Rouge, and there is a lexer for Scala here https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexers/scala.rb

I believe Rouge was recently updated when Jekyll was updated in #1337.

[2020-01-28 07:20] som-snytt commented on #1627
Here is the previous link: https://scala-lang.org/files/archive/api/2.13.0/scala/collection/Iterable.html#stringPrefix:String

API consumed by implementers ought to be in the doc.

I know there is an issue to restore an "access" option to scaladoc, so you can pick whether to show only public or also private elements.

[code]

[2020-01-28 07:33] som-snytt commented on #1627
I guess they [fiddled] with it.

[2020-01-28 15:27] SethTisue commented on #1627
but the place for it is https://docs.scala-lang.org/overviews/core/custom-collections.html IMO

[2020-01-28 16:40] som-snytt commented on #1627
You're right, the overview should be tuned. I'll fix my comment to say scaladoc [sic]. In Java, the API is the javadoc and the wordy stuff is a tutorial.

[2020-01-29 03:57] som-snytt commented on #1538
:notes: Don't fence me in... :notes:

[2020-01-29 14:54] Jasper-M commented on #1627
You have to hover over "Filter all members". Then click the triangular arrow that appears. Then you can make protected members visible.

[2020-01-29 16:56] som-snytt commented on #1627
@Jasper-M besides the eyes emoji, I have to say that is totally wild. TIL!

[2020-01-30 07:29] ddemange opened #1631 "Scaladoc eliding "case" for case objects"
On the following simple code,

[code]

scaladoc (version 2.12.3) is generating the following html output :
<img width="646" alt="image" src="https://user-images.githubusercontent.com/12810126/73428894-92e70800-433a-11ea-8048-8a78cdec0814.png">

The 'case' modifier is here for the class, but not for the object. Is there any reason for that?

[2020-02-04 16:04] cfraizer opened #1638 "Scala documentation template unfriendly for non-mouse users"
Since the days of NCSA Mosaic, every major graphical browser has, drawing on the venerable tradition of `more`, used `<SPACE>` to indicate "scroll forward one page". This is built-in behavior, not something that requires script.

Every page of Scala API documentation, when initially loaded, eats those keypresses and ignores them. To scroll through Scala documentation, one must use the mouse to cli

[2020-02-17 14:56] oswaldo opened #1644 "2.13 collection conversion documentation mentions deprecated import"
In https://docs.scala-lang.org/overviews/collections-2.13/conversions-between-java-and-scala-collections.html we have the block indicating the converters import as `import collection.JavaConverters._` which triggers a deprecation warning.
As the documentation is 2.13 focused, it would be better to indicate `import scala.jdk.CollectionConverters._` instead.

[2020-02-18 00:52] #1314 closed

[2020-02-24 15:07] zuliandri2 opened #1647 "Tour: it's not immediately clear the hypothetical foldLeft with a single parameterlist doesn't compile"
Hi all

may be this document need update
when I am run this code, it got error

![image](https://user-images.githubusercontent.com/10961433/75163557-091c3600-5752-11ea-8634-c606ab377842.png)

[2020-02-24 15:57] martijnhoekstra commented on #1647
That's correct. If `foldLeft` would have a single parameter list instead of multiple parameter lists, the code would look like that. But it doesn't, so the code doesn't look like that (but rather, like below).

Considering you didn't get that immediately, it's plausible that the language around that snippet could be clearer.

[2020-02-24 16:18] zuliandri2 commented on #1647
Hi @martijnhoekstra
when I run the code it say this
![andri@Andri-PC: ~-Downloads-idea-IU-193 5233 102-bin_008](https://user-images.githubusercontent.com/10961433/75169817-c8291f00-575b-11ea-9867-c3fae1a19c30.png)

please advice
Thank's

[2020-02-24 16:22] martijnhoekstra commented on #1647
That code shouldn't compile, it's an example what the code would look like of foldLeft had been defined with a single parameter list.

For concrete questions about how to do things, use gitter (https://gitter.im/scala/scala) or discourse:  (https://users.scala-lang.org/)

[2020-02-24 16:27] zuliandri2 commented on #1647
Hi @martijnhoekstra

noted, Thank's

[2020-02-24 17:51] martijnhoekstra commented on #1647
Reopening. IMO every case of misunderstood doc is an opportunity to improve. I'd like to see if I can phrase more clearly.

[2020-02-24 21:47] #1644 closed

[2020-02-25 17:27] SethTisue opened #1650 "CI is failing with error related to Chinese translation"
e.g. https://ci.scala-lang.org/scala/docs.scala-lang/798/3 has

[code]

[2020-03-26 15:09] sjrd commented on #1650
Fixed in bf216ab25a3c1ee8029be205586db55380fd0d66.

[2020-03-26 15:09] #1650 closed

[2020-03-31 00:16] SethTisue opened #1674 "Scala Book table of contents appears incomplete"
the ToC is too long to fit in the space provided, so it gets cut off, as seen here (in Safari):

<img width="836" alt="Screen Shot 2020-03-30 at 5 12 46 PM" src="https://user-images.githubusercontent.com/161079/77973754-10cb7f00-72aa-11ea-8329-66d1ba04267a.png">

or rather it _appears_ to get cut off, it _appears_ that `try/catch/finally`is the last entry, but the table is actually scrollable so y

[2020-03-31 08:18] mlachkar commented on #1674
It was already like that. I agree it's hard to see that you can scroll (same in tour of scala)
If we show the entire table of content, it will look like this:
![image](https://user-images.githubusercontent.com/7843237/78003376-d3fa9900-7338-11ea-84d7-727fc1f3fbc5.png)

[2020-03-31 14:36] SethTisue commented on #1674
the long ToC does look a bit funny on that page (which has especially short content), but regardless, I think it's preferable to the scrolling

[2020-04-03 09:49] mlachkar commented on #1674
I agree. I will propose commit for that.

[2020-04-03 19:06] marcelo-rosa opened #1676 "different versions on the example of libraryDependencies"
Reading the page

https://docs.scala-lang.org/overviews/scala-book/sbt-scalatest-tdd.html

I saw a conflict in the proposed example in the section **Creating the build.sbt file**

[code]
and
[code]

I suggest unifying the presented versions so people (like me) that are learning Scala does not get confused about versions 3.0.4 and 3.0.8 in this example. Just pick one of them.

[2020-04-03 19:57] marcelo-rosa opened #1677 "Wrong order of sections in chapter "case class" of scala book"
I think Section **No mutator methods** should be moved after Section **An apply method means you don’t need new**, since the example of the first section requires the user have seen the example of the second section.

Or, you cannot execute

[code]
without having executed
[code]

[2020-04-05 00:19] #1647 closed

[2020-04-06 12:16] martijnhoekstra commented on #1533
The code works, but doesn't print in the REPL.

[2020-04-06 20:58] SethTisue commented on #1676
yes, a pull request correcting this would be welcome

[2020-04-06 20:58] SethTisue commented on #1677
@alvinj wdyt?

[2020-04-06 23:50] alvinj commented on #1677
Let me take a look at this. We changed parts of the book when I added it here, and I may have moved something so that it’s out of order.

[2020-04-09 09:53] #1674 closed

[2020-04-09 16:00] alvinj commented on #1677
Wow, yeah, something is wrong with that page. If I can’t fix it today, I’ll get it fixed this weekend.

[2020-04-12 16:34] ohgrumble opened #1680 "Teensy weensy typo?"
Hey ya'll. I'm currently using the Scala Book to try to learn Scala for my new job.

I noticed a small typo on this page: https://docs.scala-lang.org/overviews/scala-book/classes.html#basic-class-constructor

In the tip right before the header "Class constructors":

_Tip: If you use Scala to write OOP code, create your fields as var fields so you can mutate them. When you write FP code with Scala,

[2020-04-12 23:47] alvinj commented on #1677
I forgot to reference this issue when I submitted my pull request a few days ago, but that pull request is #1679. I see that it says “All checks have failed”, but I hope that’s a minor thing.

[2020-04-13 00:17] SethTisue commented on #1677
It's unrelated — some broken links elsewhere on the site (which I'll go fix right now).

[2020-04-13 00:20] SethTisue commented on #1677
Hmm, weird. I'll comment about that on the PR itself.

[2020-04-14 03:55] Anurag870 commented on #1680
Created PR https://github.com/scala/docs.scala-lang/pull/1683

[2020-04-14 17:02] Anurag870 commented on #1680
@SethTisue  This is merged. You can close this.

[2020-04-14 17:13] Philippus commented on #1680
closed in https://github.com/scala/docs.scala-lang/pull/1683. Thank you!

[2020-04-14 17:13] #1680 closed

[2020-04-16 01:01] SethTisue commented on #1677
fixed by #1682. thanks @marcelo-rosa for the report

[2020-04-16 01:01] #1677 closed

[2020-04-17 19:42] SethTisue commented on #1676
incidentally the scalactic dependency isn't necessary, I don't think we should be recommending it to language newcomers. in the test configuration, it's a transitive dependency of scalatest. in the compile configuration, sure it's possible that someone would want to use it, but I think it's really better to recommend the standard, minimum thing which is a single dependency in the test config.

`%

[2020-04-30 16:29] SethTisue commented on #1533
fixed by #1654

[2020-04-30 16:29] #1533 closed

[2020-05-14 17:25] SethTisue commented on #1676
PR: https://github.com/scala/docs.scala-lang/pull/1694

[2020-05-15 06:12] #1676 closed

[2020-05-15 16:24] mtomko opened #1695 "Add examples in https://docs.scala-lang.org/overviews/core/custom-collection-operations.html that don't use ad-hoc polymorphism"
I am porting some legacy code from 2.12 to 2.13 (this code originated maybe 10 years ago in the 2.9 or 2.10 days...) and I found this document to help me:

https://docs.scala-lang.org/overviews/core/custom-collection-operations.html

The code in question was a function that took a collection of type `CC[A]` and transformed it, returning (in this case) `CC[Int]`. The closest example, in the documen

[2020-05-29 16:33] SethTisue opened #1698 "Scaladoc doc should include information about overloads"
as @tpolecat observed on Gitter, https://stackoverflow.com/questions/15394322/how-to-disambiguate-links-to-methods-in-scaladoc/15399824#15399824 ought to be incorporated into https://docs.scala-lang.org/overviews/scaladoc/for-library-authors.html

[2020-06-10 05:40] dennisqi opened #1704 "Inconsistent named arguments"
In section [Class](https://github.com/scala/docs.scala-lang/blob/master/_tour/classes.md) I found we have a named argument:
[code]

However in section [Named Arguments](https://github.com/scala/docs.scala-lang/blob/master/_tour/named-arguments.md) and [Default Parameter Values](https://github.com/scala/docs.scala-lang/blob/master/_tour/default-parameter-values.md) we have:
[code]
and
[code]

I sup

[2020-06-11 22:49] nogurenn opened #1710 "Update macros doc for tree creation to use blackbox/whitebox context"
https://docs.scala-lang.org/overviews/reflection/symbols-trees-types.html#tree-creation-via-parse-on-toolboxes

I'm reading about reflection, and running the macros example gives the deprecation warning:
[code]

I thought it makes sense to raise this because of the existence of two different types of `Context`s.

[2020-06-17 13:54] gavinbaumanis opened #1711 "Scala compiler Options needs updating"
https://docs.scala-lang.org/overviews/compiler-options/index.html
mentions;
-optimize or -optimise Enables optimizations.

This option is now deprecated.
(probably need to check all others, too.)

[2020-06-17 22:46] SethTisue commented on #1704
fixed by #1707

[2020-06-17 22:46] #1704 closed

[2020-06-18 08:59] toohoo opened #1712 "totaly beginner - run it fails"
Hello,
sorry if it might be clear to everybody else. The "run it" in the docu fails:
"Error:scalac: Multiple 'scala-library*.jar' files (scala-library-2.12.0.jar, scala-library-2.12.10.jar) in Scala compiler classpath in Scala SDK scala-sdk-2.12.0"

Please help,
regards

[2020-06-18 14:11] SethTisue commented on #1712
what URL is this in reference to?

[2020-06-18 14:23] toohoo commented on #1712
Hello,
thanks for your answer. Don't know exacly if I'm understanding you right.
I've come over this from the introduction on:
https://docs.scala-lang.org/getting-started/intellij-track/getting-started-with-scala-in-intellij.html
.. and there on section "Running it". There was a link to github but I can't find it anymore. Sorry.
But now I've found this:
docs.scala-lang/_getting-started/intellij-tr

[2020-06-18 16:22] SethTisue commented on #1712
That answers my question, thanks.

The issue tracker here isn't a support forum. I suggest you ask for help in one of the venues listed at https://www.scala-lang.org/community/ . Perhaps it will turn out that our instructions should be improved. If so, please come back to this ticket with details and we'll reopen it and see what we can do.

[2020-06-18 16:22] #1712 closed

[2020-06-23 00:48] SethTisue commented on #1710
a PR on this would be welcome

[2020-06-24 08:54] nogurenn commented on #1710
On it!

[2020-07-01 00:57] SethTisue opened #1724 "drop links to scala-module-dependency-sample"
https://github.com/scala/scala-module-dependency-sample is archived, but at https://github.com/retronym/scala-module-dependency-sample/pull/1 @retronym noticed that we link to it from this repo, e.g. from https://docs.scala-lang.org/tutorials/scala-with-maven.html (perhaps elsewhere)

[2020-07-04 16:01] manishbansal8843 opened #1726 "Index of Contents not matching with next page link of "classes" page"
"next" link on page [classes ](https://docs.scala-lang.org/tour/classes.html) is pointing to [default-parameter-values](https://docs.scala-lang.org/tour/default-parameter-values.html). However, "contents" section shows that the next page should be [named-arguments](https://docs.scala-lang.org/tour/named-arguments.html).

"contents" section indexing should be fixed.

[2020-07-05 14:45] manishbansal8843 opened #1730 "covariance definition is wrong"
Definition of covariance mentioned [here](https://docs.scala-lang.org/tour/variances.html) is completely opposite of what it is supposed to be. Same should be fixed.

[2020-07-07 19:51] #1730 closed

[2020-07-08 17:33] SethTisue commented on #1726
fixed by #1727

[2020-07-08 17:33] #1726 closed

[2020-07-27 01:36] zhaoxp0905 opened #1744 "How to get a Scala SDK on the disconnected computer?"
I am a beginner, and I followed the tutorial of getting-started-with-scala-in-intellij.md
At step 5 of "Creating the Project", I can't get any Scala SDK, maybe because my work computer cannot connect to the Internet, I think many companies do so. How can I go on?
Thank you!

[2020-07-28 00:34] SethTisue commented on #1744
a good place to ask questions is https://users.scala-lang.org, and/or see https://www.scala-lang.org/community/ for other options

[2020-07-28 00:34] #1744 closed

[2020-08-04 00:45] justinhj opened #1748 "Expand the Function1 example in the variances page"
https://github.com/scala/docs.scala-lang/blob/67f117529298432e799cd88982240bb13a38301a/_tour/variances.md#other-examples

At the end of the page on variances the reader has to do a lot of work to figure out the "what does the animal eat example". I think it would be great if it included working code like the previous examples. However, it's a bit confusing in terms of what the "what does an animal

[2020-08-04 18:23] martijnhoekstra commented on #1748
I have a branch somewhere reworking that entirely, but I too was stuck here. A function from an animal to another animal that was eaten by the first is kind of weird, especially as a subtype of, eh, what exactly? A clear concrete example where the contravariance of the parameter is used at the same time as the covariance of the returned result would be very welcome, but if that proves just too hai

[2020-08-08 01:38] er1c opened #1754 "Add scaladoc @link examples"
Ref: https://github.com/scala/docs.scala-lang/blob/master/_overviews/scaladoc/for-library-authors.md

[2020-08-29 15:12] er1c opened #1761 "Add sort performance to collections/performance-characteristics.md"
Reference: https://github.com/scala/docs.scala-lang/blob/master/_overviews/collections/performance-characteristics.md

Sorting characteristics would also be useful to know here.

[2020-08-29 19:06] NthPortal commented on #1761
They all call `java.util.Arrays.sort` - that is, they sort by copying their contents to an `Array`, using Java's sort, and then rebuilding the collection - so they all have pretty much the same performance, with the following (fairly intuitive) exceptions:

- `sortInPlace` on `Array`-backed collections doesn't need to copy the collection to a new `Array` before sorting, or rebuild the collection a

[2020-09-01 13:20] macginitie opened #1763 "getting started with IntelliJ IDE is out of sync"
I tried to fix part of the mismatch here:
https://github.com/scala/docs.scala-lang/compare/master...macginitie:patch-1

[2020-09-01 14:46] macginitie opened #1764 "sbt prompts but does not accept input"
In the getting-started-with-sbt commandline markdown file:

1. cd to an empty folder.
2. Run the following command 'sbt new scala/hello-world.g8'. This pulls the 'hello-world' template from GitHub. It will also create a target folder, which you can ignore.
3. When prompted, name the application hello-world. This will create a project called "hello-world".

at step 3, the terminal (in Windows) is n

[2020-09-01 18:11] macginitie commented on #1763
also https://github.com/scala/docs.scala-lang/compare/master...macginitie:patch-2

[2020-09-01 18:24] #1710 closed

[2020-09-01 18:52] SethTisue commented on #1764
is there anything in https://github.com/sbt/sbt/issues ? the issue doesn't sound familiar offhand

[2020-09-03 00:17] SethTisue commented on #1763
would you like to submit those changes as a pull request?

[2020-09-03 00:20] SethTisue commented on #1761
This could make a good addition to the Scaladoc for the sorting methods, but I don't think it's actionable in this repo.

[2020-09-03 00:20] #1761 closed

[2020-09-03 00:21] SethTisue commented on #1754
Yes please!

[2020-09-03 00:23] SethTisue commented on #1748
agree there's room for improvement here. pull requests with attempts are welcome. @justinhj it's hard for me to predict from your description how a concrete attempt would turn out, whether it would work and be a good improvement

yeah, agree, using them both at once would be more like a party trick than something needed for teaching this

[2020-09-03 00:24] SethTisue commented on #1711
@gavinbaumanis interested in returning to this?

[2020-09-06 00:07] macginitie commented on #1764
perhaps #5063, which has this comment:
"Just posting for someone who is looking for a workaround until this gets fixed.
sbt --supershell=false new scala/scala-seed.g8"

[2020-09-06 17:51] SethTisue commented on #1764
does the workaround work for you?

[2020-09-08 15:59] macginitie commented on #1763
sure, I'm new here & didn't want to submit a PR without at least someone looking at it. I'll submit them, thanks

[2020-09-09 14:33] macginitie commented on #1764
yes, it did

[2020-09-22 05:04] jacobhjkim opened #1780 "Reflection Overview reflectClass Error"
# Issue description
When I follow the runtime reflection example, I get an error as shown below.
https://docs.scala-lang.org/overviews/reflection/overview.html#examples
[code]

Using InstanceMirror also results in an error.
[code]

[2020-09-22 05:31] som-snytt commented on #1780
The easy workaround is to use `scala -Yrepl-class-based:false`, which used to be the default.

[2020-09-22 05:34] jacobhjkim commented on #1780
That worked!
[code]
Should I add `scala -Yrepl-class-based:false` to the docs?

[2020-09-22 05:37] som-snytt commented on #1780
That would be helpful. Maybe there is one place to add that info.

[2020-09-24 11:55] jxnu-liguobin commented on #1339
how can join? i am a  chinese scala engineer

[2020-09-30 16:51] SethTisue commented on #1339
@jxnu-liguobin you can just start sending pull requests! they don't need to be perfect or complete — any kind or amount of improvement is welcome. the repo README has info on the technical aspects of contributing. English-language help is available on https://gitter.im/scala/contributors

[2020-09-30 18:13] martijnhoekstra commented on #1339
Do we maybe need a meta issue of how to keep track of what updates have and haven't been translated to what languages, or is that overdoing it?

[2020-09-30 19:32] SethTisue commented on #1339
@martijnhoekstra My guess is that the volunteer effort to keep that updated across all languages probably doesn't exist, but volunteers might exist for doing that for particular languages.

Anyone interested in coordinating an effort around a particular language is welcome to open a language-specific issue in this repo. (I suggest one issue per language, multiples would be too noisy for repo watch

[2020-10-06 07:22] jacobhjkim commented on #1780
Hi, @som-snytt. I did open a PR https://github.com/scala/docs.scala-lang/pull/1781. Let me know if there is a better place to add this info. I will close this issue since it's solved.

[2020-10-06 07:22] #1780 closed

[2020-10-09 02:27] mister-walter opened #1795 "SIP Google Doc suggestion spam"
I came across the ["Type Dynamic" SIP](https://docs.scala-lang.org/sips/type-dynamic.html) in the process of doing some research, and because the embedded viewer was small I opened the document in Google Docs via [the provided link](https://docs.google.com/document/d/1XaNgZ06AR7bXJA9-jHrAiBVUwqReqG4-av6beoLaf3U/edit) on that page.

The Google Doc viewer opened up in "suggestion"/"editing" mode and

[2020-10-09 07:57] sjrd commented on #1795
Thank you for the report! I don't know who is the owner of that Google Doc and could fix this :s

@odersky was it you (since you're listed as author of the SIP)?

[2020-10-09 08:20] odersky commented on #1795
I have restored the document and disabled the comment option

[2020-10-09 08:25] NthPortal commented on #1795
Thanks @mister-walter!

[2020-10-09 08:25] #1795 closed

[2020-10-13 14:58] gavinbaumanis commented on #1711
I am returning to this now. Thanks @SethTisue.

[2020-10-13 23:54] SethTisue opened #1796 "Language tour should have a section on path-dependent types"
(perhaps there's something in the old "Scala by Example" document that could be used as a starting point? not sure)

[2020-10-15 12:12] gavinbaumanis commented on #1711
@SethTisue  : Do you want a giant issue / document at the end of this  - or do you want individual issues raised for the things that I find?
I don't mind either way.

[2020-10-15 13:43] SethTisue commented on #1711
uh, I guess a single issue for now, and then I suppose we might choose later to split things out

[2020-10-16 10:21] gavinbaumanis commented on #1711
@SethTisue : OK so I am editing the code to correct the documentation (I am happy to go through it and see if I can do it) - Or am I just flagging the issues I have found between the two different flavours (*.YML and the docs)?
Thanks!

[2020-10-16 13:50] SethTisue commented on #1711
@gavinbaumanis the ambition level is up to you — any amount of improvement is better than nothing. Is the automatic generation aspect even currently working? If not, that seems like the single most important thing to address.

[2020-10-16 23:33] gavinbaumanis commented on #1711
@SethTisue  : I am happy to try it all! : Though, I have had a look at the code and it is beyond me at the moment to fix without context / help. Do you know anyone who knows about the document generation engine - that I could ask directly - at the times I get stuck? Thanks.

[2020-10-17 04:37] SethTisue commented on #1711
I believe @exoego is the original author. @som-snytt and I can try to help as well. Usually the best way to get help is to open a draft PR in scala/scala and ask for it there. Chat rooms are catch-as-catch-can, but asking things on https://gitter.im/scala/contributors definitely works at least some of the time.

[2020-11-05 16:12] IowU opened #1806 "Private methods and members not showing up in scaladoc"
Hello,
I was trying to generate some scaladoc using ```sbt doc```, but I noticed that private members and methods don't show up. I tried adding the ```scalacOptions in (Compile, doc) += "-private" ``` in my **build.sbt** but nothing changed. Is there a way to make them appear? Same result when I tried using ```scaladoc <file_path> ```.

[2020-11-05 16:57] som-snytt commented on #1806
The feature was added in 2.13.1 https://github.com/scala/scala/commit/bd12df464a0ae3b2b19ba281e18e1e378492f7d9, which version are you using?

[2020-11-05 18:46] IowU commented on #1806
2.13.3

[2020-11-06 18:15] IowU opened #1810 "Malformed markdown link in scaladoc/for-library-authors.md"
In the [More details on writing Scaladoc](https://github.com/scala/docs.scala-lang/blob/master/_overviews/scaladoc/for-library-authors.md#more-details-on-writing-scaladoc) there is a broken markdown. Is it supposed to point to [https://docs.scala-lang.org/style/scaladoc.html](https://docs.scala-lang.org/style/scaladoc.html)?

[2020-11-12 16:01] SethTisue opened #1815 "switch from tut to mdoc (for checking code snippets)"
we use tut (https://github.com/tpolecat/tut, http://tpolecat.github.io/tut/) to actually run code snippets and make sure they compile and run and give the expected result. this happens during PR validation

tut is considered deprecated and the author (Rob Norris / @tpolecat) suggests everyone switch to @olafurpg's mdoc (https://github.com/scalameta/mdoc), which didn't exist yet at the time we adop

[2020-11-18 03:32] SethTisue opened #1820 "PR validation failing because of broken language tour links"
so for example at https://ci.scala-lang.org/scala/docs.scala-lang/1157/3 we see

(sorry about the line numbers but I don't see anything in the Drone web UI for downloading a raw log)

[code]

[2020-11-20 02:43] atovk opened #1824 "in docs.scala-lang/_tour/variances.md variances covariance missing [+A] mark"
Consider this simple class structure:

[code]

maybe change to :

[code]

?

[2020-11-20 02:44] atovk commented on #1824
If this is a problem, I can modify it.

[2020-11-20 02:47] atovk commented on #1824
[variances.covariance](https://github.com/scala/docs.scala-lang/blob/master/_tour/variances.md#covariance)

[2020-11-20 07:56] martijnhoekstra commented on #1824
The example is correct, Animal doesn't have a type parameter. In the example, using the subtypes of Animal is used to show variance of the type parameterized over Animal, not variance of Animal itself.

[2020-11-20 07:56] #1824 closed

[2020-11-21 19:49] som-snytt opened #1825 "Select which version to see compiler options"
Per https://github.com/scala/docs.scala-lang/issues/1711#issuecomment-628347181

If compiler command line options aka settings are worth documenting, it would be useful to be able to select the version of interest.

This may be more urgent for Scala 3.

[2020-11-21 20:05] SethTisue commented on #1825
perhaps someone at the Scala Center (or engaged by the Center) has a plan for this site-wide?

[2020-11-21 20:20] som-snytt commented on #1825
Some people are married to their work, others are only engaged.

[2020-11-21 20:40] sjrd commented on #1825
We haven't really thought through the version-dependent documentation thing, I'm afraid.

[2020-11-25 22:57] ilknarf opened #1831 "Language Tour Currying section could use hyperlink to Implicit Parameters"
[The multiple parameter lists section](https://github.com/scala/docs.scala-lang/blob/master/_tour/multiple-parameter-lists.md) contains a brief mention of implicit parameters with limited context. (Maybe it could be removed, too?) It would be helpful if it referenced https://docs.scala-lang.org/tour/implicit-parameters.html, which is placed several sections later in the tour.

[2020-11-26 09:15] CastaChick commented on #1820
It seems to be solved by adding an empty page of French. (ref. [Thai](https://github.com/scala/docs.scala-lang/blob/master/_th/tour/abstract-type-members.md))

If it's ok, I'll do it.

[2020-11-27 15:02] #1820 closed

[2020-12-04 01:35] SethTisue commented on #1831
yes please, PR welcome!

[2020-12-04 01:37] SethTisue commented on #1815
mdoc support for Scala 3 is in progress, or soon to be in progress anyway: https://github.com/scalameta/mdoc/issues/347

[2020-12-16 17:08] #1815 closed

[2020-12-24 08:31] nrxsh opened #1871 "Is"

[2020-12-24 08:33] nrxsh opened #1872 "Is there any scala-spring or any scalas sample project?"

[2020-12-24 08:37] #1871 closed

[2020-12-24 08:39] eed3si9n commented on #1872
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-lang.org/community/

[2020-12-24 08:39] #1872 closed

[2021-01-01 07:57] MatthiasKurt opened #1877 "Wrong type hierarchy in Variance chapter (Book extends CartItem)"
Hello,
thanks for this good book.
i believe that in chapter about variance the type hierarchy of the example has a mistake.
In the example `Book extends CartItem` (which is not mentioned in this chapter).
I think you wanted that `Book extends Buyable`.
In the subchapter about Invariant Types you wrote:
`Book <: Buyable <: Item`
Happy new year
  Matthias

[2021-01-01 08:12] MatthiasKurt opened #1878 "Mistake in example method oneOf? Pipeline has no method price"
Hello,
In the chapter of variance there is an example method
[code]
`Pipeline` has no method or field `price`. So maybe i don't understand this example or there is something wrong.

Best regards
  Matthias

[2021-01-04 16:36] b-studios commented on #1877
Thanks, you are right!

[2021-01-04 16:37] b-studios commented on #1878
Good catch, I'll fix that.

[2021-01-04 16:41] b-studios commented on #1878
It could be something like
[code]

[2021-01-06 10:42] #1878 closed

[2021-01-06 10:42] #1877 closed

[2021-01-12 13:30] b-studios opened #1892 "Scala 3 highlighting broken"
There is a few problems with syntax highlighting of Scala3:

Most of them can be seen on this page: https://docs.scala-lang.org/scala3/guides/macros/macros.html

Keywords not highlighted as keywords:
- inline
- then

Other problems:
- quotes are recognized as character-start

We should look at the vscode grammar and tests: https://marketplace.visualstudio.com/items?itemName=scala-lang.scala

[2021-01-13 20:23] alvinj opened #1896 "Indent all Python examples with four spaces"
In __overviews/scala3-book/scala-for-python-devs.md_, all of the Python examples should be indented four spaces, as that is the standard. (I used two spaces initially because I was trying to show the Python and Scala examples side by side.)

[2021-01-21 02:58] SethTisue commented on #1810
Is it broken? At https://docs.scala-lang.org/overviews/scaladoc/for-library-authors.html , the link works

[2021-01-21 02:59] #1810 closed

[2021-01-21 16:05] Guisanpea opened #1905 "Section of comparison seems to have an incorrect example"
Hello. While taking a look to the documentation on[ multiversal comparison](https://docs.scala-lang.org/scala3/book/ca-multiversal-equality.html) I saw that it first says:

[code]

[code]

I think that the second example tries to create a Dog and a Cat but ends up doing a comparison on two dogs.

Is this the desired example? Because I find it a bit confusing.

If not I can create a quick PR to fix

[2021-02-03 23:03] jonkeatley opened #1919 "Spelling of 'deprecated' is incorrect"
In the Scala 3 scaladocs, the word 'deprecated' is spelled as 'deprectated'.

[2021-02-03 23:31] Philippus commented on #1919
Thank you for reporting it, the Scala 3 scaladocs are generated from the code in this repository: https://github.com/lampepfl/dotty. I've created a Pull Request there to fix it.

[2021-02-03 23:34] jonkeatley commented on #1919
Thanks! That was fast.

[2021-02-03 23:37] #1919 closed

[2021-02-05 11:16] b-studios commented on #1905
It is in fact correct, since `Dog` and `Dog` cannot be immediately compared, but need to implement `CanEqual` as also described here: https://dotty.epfl.ch/docs/reference/contextual/multiversal-equality.html

You can also try it in Scastie:
[code]

That being said, we are very happy about PRs that explain this more clearly :)

[2021-02-19 18:35] Philippus commented on #1764
According to the ticket that was mentioned, with newer sbt versions (both 1.3.x and 1.4.x releases) this is fixed and the workaround should no longer be needed.

[2021-02-19 18:35] #1764 closed

[2021-02-24 16:35] rpridemore opened #1933 "Better utilize wide (desktop) screens"
I find the documentation frustrating to read on my hi-res desktop screen.  The width of the main content is unnecessarily narrow, causing horizontal scrollbars to appear in code fragments.  I don't understand enough about sass to submit a PR, but I have been manually changing max-width on .wrap style from 1000px to 1500, as you can see in the attached screenshots.
![Screenshot from 2021-02-24 11-3

[2021-02-26 13:18] xhudik opened #1937 "better explanaton of `open` keyword"
Since `open` keyword is a new concept of Scala 3. It would desire a bit more info in: https://docs.scala-lang.org/scala3/book/domain-modeling-oop.html (section: Planning for Extension). This is a first place where a reader finds this term.

A possible source of inspiration:
https://medium.com/@knoldus/what-is-open-class-in-scala-3-14876e047fd4

[2021-02-27 18:34] qamar2 opened #1939 "Word 'apply' is missing."
I want to write a map method that can be used to  **apply** a function to each element in a List[Int] that it’s given, returning the transformed elements as a new list.

[2021-02-28 01:21] SethTisue commented on #1939
pull request welcome!

[2021-03-06 20:20] xhudik opened #1948 "too general link"
In [functional error handling](https://github.com/scala/docs.scala-lang/blob/master/_overviews/scala3-book/fp-functional-error-handling.md#L99) (lines 99-100) -it is discussed how to treat/consume  `Option[Int]`. Author provided 2 answers and added that there more possibilities with link to: `See the [Reference documentation][reference]`.  The link to whole reference guide to Scala 3 is too genera

[2021-03-08 19:08] #1939 closed

[2021-03-09 22:31] SethTisue opened #1953 "there are 404s for missing API docs"
https://github.com/scala/docs.scala-lang/runs/2059390653

because we blew away the 2.9 docs, all the 2.10 docs except 2.10.7, and all the 2.11 docs except 2.11.12

in `api/all`, the outdated versions can removed. the other dead links should be updated to point to the latest patch version

[code]

[2021-03-10 17:13] #1953 closed

[2021-03-13 10:45] robstoll opened #1959 "Non leaf menu entries have a blank content section"
Navigazte to https://dotty.epfl.ch/docs/Metaprogramming/index.html

At least on Chrome mobile I see only a blank content section. I.e I see the menu, the breadcrumb  but no content. Same same if I switch to the desktop view

[2021-03-13 18:36] xhudik opened #1960 "sbt: scala 3 cannot be compiled without plugins.sbt ch.epfl.lamp"
Hi there, I went through:
https://docs.scala-lang.org/scala3/book/scala-tools.html and the first exmaple with `sbt run` didnt work:
[code]

It works but only if you add:
[code]
Question: will this plugin be needed once Scala 3 is officially released?
If yes, it should be added to the text
If no, some note about it should be added for readers before the official release

[2021-03-13 19:17] SethTisue commented on #1960
It won't be needed once sbt 1.5 is released. If you use sbt 1.5.0-M2, you don't need sbt-dotty. But 1.5.0-M2 is just a milestone, so you might consider it a bit risky to early-adopt.

[2021-03-13 19:19] SethTisue commented on #1960
(As for updating the doc, yes, agree. I mainly work on Scala 2, perhaps someone else reading this repo would like to make the change, perhaps @alvinj or @b-studios?)

[2021-03-13 19:31] eed3si9n commented on #1960
Not sure if you're ready for Scala 3 if you think 1.5.0-M2 is too risqué for work.

[2021-03-13 19:41] xhudik commented on #1960
Actually, I just found out the page already contains a comment `{% comment %}` about it - maybe it should be put as a note/normal text. `{% comment %}`  is invisible for a normal user

[2021-03-13 20:20] alvinj commented on #1960
Yes, I think we had an offline discussion about how to handle this. I think we thought the need was going away soon, and that’s how that became a comment. If you want to remove that comment, that’s fine by me. I’ll set a reminder for every month to then update this page when sbt 1.5.0 is released.

[2021-03-13 21:03] xhudik opened #1963 "Scala 3 Book - chapter re-ordering"
[Scala Tools](https://docs.scala-lang.org/scala3/book/scala-tools.html) contains wonderful info on how to set up your first projects, what tools should be used for what.

At the moment, the chapter is served at the end of Scala 3 Book. I'd guess to **put it in the beginning** (after: [hello world](https://docs.scala-lang.org/scala3/book/taste-hello-world.html) and before [The REPL](https://docs.sc

[2021-03-13 21:40] SethTisue commented on #1963
@alvinj ?

[2021-03-13 22:13] alvinj commented on #1963
I’d like to include @b-studios here as well, because I wouldn’t want to change the ordering without including him.

If I remember right, we were thinking of those last five chapters (everything after Concurrency) as being Appendix/Reference-like chapters. But one of the problems with that is that there’s not an easy way to make it appear as an appendix.

Because it’s a little long, I also didn’t w

[2021-03-14 11:53] xhudik commented on #1963
hmm, yes if there is a good appendix - it would make sense to make a link from Hello world chapter.
If not, I'd put it as soon as possible - before the real learning will start(somewhere inside `Taste of Scala`). When I personally read the book I wanted to test things described in the book, therefore having ready whole toolset seems to me important... But that might be just my subjective feeling.

[2021-03-14 12:12] xhudik commented on #1963
@alvinj  what about a link within Hello world: https://github.com/scala/docs.scala-lang/pull/1964
I just dont know how to make a link between chapters (it is hardcoded for now)

[2021-03-14 16:25] alvinj commented on #1963
We definitely wanted to make some/most of the code testable on each page by integrating Scastie or ScalaFiddle, but I don’t know the status of that effort.

[2021-03-14 17:13] alvinj commented on #1963
@xhudik I’m sorry, my multiuser Git skills are still pretty lame, but if you add this to the very bottom of the _taste-hello-world.md_ page:

[code]

Then I would use wording like this in the area where you have your change:

[code]

If you look at the source code for [this page](https://github.com/scala/docs.scala-lang/blob/master/_overviews/scala3-book/scala-features.md), that’s the link style w

[2021-03-14 18:41] xhudik commented on #1963
@alvinj  - cool - I tried it: https://github.com/xhudik/docs.scala-lang/blob/patch-18/_overviews/scala3-book/taste-hello-world.md
(pull request: https://github.com/scala/docs.scala-lang/pull/1964 )
Is it OK?

And yes, Scastie and these things can improve readability a lot. Thanks for the info!

[2021-03-14 20:18] alvinj commented on #1963
@xhudik (and @SethTisue) Yes, that looks good to me. Thanks for this, it’s a nice improvement!

[2021-03-15 10:16] b-studios commented on #1963
Yes, thanks for adding the link. One other option would be to move it out of the book into a separate guide (https://docs.scala-lang.org/scala3/guides.html).

[2021-03-15 13:06] xhudik commented on #1963
@b-studios, yes - having a small guide on how to work within scala ecosystem: what IDE are available, what plugins are needed to create a scala project, how to test your programs, what profilers can be used,... would also definitely make sense.
I mean some practical, down-to-earth guide for practitioners who want to work with scala (beginners as well as daily users)

Then guides like Scala (3) boo

[2021-03-17 16:50] alvinj commented on #1963
I’m a little swamped at the moment finishing the Cookbook, but I agree that this would be a good guide!

[2021-04-06 03:11] SethTisue commented on #1960
sbt 1.5.0 is out now and doesn't require sbt-dotty

[2021-04-06 03:11] #1948 closed

[2021-04-06 03:11] #1937 closed

[2021-04-06 03:13] SethTisue commented on #1959
@b-studios is this worth addressing or should we just figure the problem might go away at the time the Dotty site is merged onto docs.scala-lang?

[2021-04-06 06:37] xhudik commented on #1960
ok, thanks. I think we can close this issue!

[2021-04-06 06:37] #1960 closed

[2021-04-08 20:25] SethTisue opened #1979 "Site isn't being published"
I noticed just now that https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html is out of date w/r/t to https://github.com/scala/docs.scala-lang/blob/main/_overviews/jdk-compatibility/overview.md

is the site not publishing? (maybe because of the change from `master` to `main`?)

[2021-04-08 20:26] SethTisue commented on #1979
@fsalvi can I ask you to look into this...?

[2021-04-09 06:42] fsalvi commented on #1979
I started manually the build, it should be ok now.
It seems one setting was missing to use main instead of master. Sorry about that.
I will follow the next builds to ensure it's ok.

[2021-04-09 06:42] #1979 closed

[2021-04-09 13:30] SethTisue commented on #1979
excellent, thank you!

[2021-04-09 14:01] SethTisue opened #1982 "JDK compatibility page should cover Graal Native Image"
https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html

even a small amount of wording, and a link to https://github.com/scalameta/sbt-native-image and anything else important, would be way better than nothing

if the amount of information we have grew enough it could become its own page, but I think adding something to the existing page would be a good start

[2021-04-09 16:47] SethTisue commented on #1982
another thing to link to would be https://github.com/scala/bug/labels/graal — there are open tickets and some closed ones too

[2021-04-12 17:45] knight-of-zero opened #1984 ""Generic Classes" page in Tour of Scala uses an unnecessarily complicated example"
I'm new to scala, but have a deep background in Java. I've been going through the "tour of scala" to learn the language. Overall  this guide is super helpful and well written... but I did hit one snag on the [Generic Classes](https://docs.scala-lang.org/tour/generic-classes.html) page:

[code]

At first I assumed `::` was some kind of built-in part of the language (like `+` on ints or strings). Ev

[2021-04-15 20:54] chaitanyawaikar commented on #1982
I can pick this up

[2021-04-19 19:31] chaitanyawaikar commented on #1982
PR created https://github.com/scala/docs.scala-lang/pull/1989.
Looking forward to your valuable feedback. Thanks !!

[2021-04-27 12:21] Goudarz opened #1995 "Problem right to left"
Hello,

I am translating into [Persian](https://github.com/Goudarz/docs.scala-lang/tree/fa-translation).

The `lang` is not exist in HTML to fix it.

[2021-05-02 08:10] aryx commented on #1563
Any update on this? I'd love to read "A Taste of Scala 3" as a PDF on my remarkable. Right now this chapter is split in many sections (I can do "print" from Chrome for each section but it's a bit annoying; I'd rather have a nice clean PDF of the whole chapter, of even better of the whole book).

[2021-05-02 08:12] aryx commented on #1563
Note that it was less a problem for the Scala 2 book because "A Taste of Scala" was a single file:
https://docs.scala-lang.org/overviews/scala-book/prelude-taste-of-scala.html
so it was easy to print from Chrome as a PDF.

[2021-05-13 18:03] ebruchez opened #2017 "Remove or explain the word "term""
In the [list of features](https://docs.scala-lang.org/scala3/book/scala-features.html), there is the following:

I have been using Scala for more than 10 years, but I am not a compiler writer, and I have never needed to use the word "term". I suggest that this is at best unhelpful to mention that word, and at worst a turn-off for the reader. But if it has to be mentioned, then it need to be explai

[2021-05-14 15:55] learnbyexample opened #2019 "Invalid syntax for Python One-line method example"
From https://docs.scala-lang.org/scala3/book/scala-for-python-devs.html#oop-style-classes-and-methods:

As far as I know, the above Python version would give an error. Here's what I get on version 3.9.5:

[code]

You can use this instead:

[code]

[2021-05-16 21:02] casperlehmann commented on #2019
There has already been submitted a PR for this: https://github.com/scala/docs.scala-lang/pull/2023

[2021-05-18 13:19] fernandoracca opened #2028 "Documentation to take advantage of larger screens"
When reading on reasonably large screens, particularly 4K monitors, the main area for content is really small, and there's huge amount of wasted empty space.

This selector changes a single property which expands to fill the screen, which makes a large difference.

[code]

Consider including such support directly on the website.

[2021-05-18 16:20] #2019 closed

[2021-05-18 16:20] b-studios commented on #2019
Closed by #2023, thanks!

[2021-05-18 17:48] fernandoracca commented on #2028
I actually have a PR ready. It's tested on both my laptop's monitor and an external 27" 4K monitor, and it fills up the space nicely.

[2021-05-18 21:10] Sciss opened #2031 "Scala 3 book - collections - tuple apply access?"
https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/taste-collections.md

I just intuitively tried if tuple `apply` works with static indices, and it does, which is very cool. I don't know if that should be the preferred way to access them? I.e. instead of

[code]

would it be better to write

[code]
?

[2021-05-18 21:24] Sciss opened #2032 "Scala 3 book - can you match on Any or not?"
When type hierarchy is introduced: https://docs.scala-lang.org/scala3/book/first-look-at-types.html

it is said that

The type `Matchable` is used in the example here: https://docs.scala-lang.org/scala3/book/why-scala-3.html

[code]

But here, the traditional `Any` is used: https://docs.scala-lang.org/scala3/book/taste-control-structures.html

[code]

Which is confusing.

[2021-05-18 21:42] Sciss opened #2033 "Scala 3 book - reason for using BigInt, BigDecimal unclear"
They are introduced here: https://docs.scala-lang.org/scala3/book/taste-vars-data-types.html
and here: https://docs.scala-lang.org/scala3/book/first-look-at-types.html

The description is vague and not helpful:

It is not apparent to reader why these are "really large numbers", and why they should use them instead of directly writing `1_234_567_890_987_654_321L` and `123_456.789`.

I suggest this

[2021-05-18 22:22] Sciss commented on #2032
And here: https://docs.scala-lang.org/scala3/book/methods-most.html

[2021-05-19 09:48] chaitanyawaikar commented on #2033
I can pick this up.

[2021-05-19 09:49] chaitanyawaikar commented on #2032
I can pick this up.

[2021-05-19 09:49] chaitanyawaikar commented on #2017
I can pick this up.

[2021-05-19 11:14] bishabosha commented on #2031
Yes I think this would be a nice addition

[2021-05-20 13:08] b-studios commented on #2028
I agree that the docs benefit from this change:

![image](https://user-images.githubusercontent.com/408265/118983847-2653aa80-b97d-11eb-80bd-9f4ea2673c07.png)

However, the landing page really is not designed with this in mind:

![image](https://user-images.githubusercontent.com/408265/118983899-39ff1100-b97d-11eb-9df5-ba8279fe0c52.png)

[2021-05-20 13:20] fernandoracca commented on #2028
Thanks for the feedback @b-studios .
I'll look into it tonight, to see if i can also improve that page. I'm not much of a CSS person, so i can't promise a substantial change.
If you have any suggestion of how to structure it, please do let me know.

[2021-06-02 14:46] SethTisue opened #2064 "Subtly bad code example for Scala `breakOut`"
report from Bart Jenkins:

[2021-06-03 17:40] SethTisue opened #2065 "FAQ redirects not working"
so for example https://docs.scala-lang.org/tutorials/FAQ/breakout.html still exists, even though the source file for it was removed by 836fa133b704ecff127dcf3eeca5f1c63c276ebe

`_overviews/FAQ/index.md` has

[code]

but the redirect isn't functioning as expected.

so there are actually two problems here:

1) removed pages should no longer be online. @fsalvi is this something you can clean out...?

[2021-06-04 10:00] fsalvi commented on #2065
I fixed the 1st point.

For the 2nd point, I did some tests and only the last item in the redirect_from list is generated (in your case, yield.html). I wonder why... There's no error nor warning in the output, even with the verbose mode.

[2021-06-04 10:11] fsalvi commented on #2065
BTW, using this syntax solves the problem:

redirect_from:
  - "/tutorials/FAQ/breakout.html"
  - "/tutorials/FAQ/chaining-implicits.html"
  - "/tutorials/FAQ/collections.html"
  - "/tutorials/FAQ/context-bounds.html"
  - "/tutorials/FAQ/finding-implicits.html"
  - "/tutorials/FAQ/finding-symbols.html"
  - "/tutorials/FAQ/yield.html"
  - "/tutorials/FAQ/stream-view.html"

[2021-06-04 10:11] Philippus commented on #2065
I think the syntax used here is for a single url and every redirect_from in the list overrides the previous one. To have a list you need a different way of putting them (https://github.com/jekyll/jekyll-redirect-from#usage).

[2021-06-04 10:15] fsalvi commented on #2065
The same syntax error is also in other files, eg _tour/named-arguments.md

[2021-06-04 10:16] Philippus commented on #2065
I'll make some changes for those.

[2021-06-04 13:24] #2065 closed

[2021-06-23 10:22] jacobus opened #2092 "Missing step in getting started with Scala 3"
The[ Getting Started with Scala 3 page](https://www.scala-lang.org/download/scala3.html) does not say how to run a Scala 3 program after installing with coursier. Step 3 "Use Scala" only shows how to load a file into the REPL and how to compile a file, but no mention of running it.

[2021-06-23 10:26] bishabosha commented on #2092
related https://github.com/coursier/coursier/issues/2058

[2021-06-25 10:16] Altair-Bueno opened #2097 "Control Structures- Description does not match function's signature"
On [Control Structures - Using a `match` expression as the body of a method](https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/control-structures.md#using-a-match-expression-as-the-body-of-a-method):

This method does not only take Boolean as an input, as stated by the function signature. It should work with any `Matchable` value. Also, it does not contain the `case false`

[2021-06-25 19:56] Altair-Bueno commented on #2097
Quick note: `isTruthy` appears [here too](https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/methods-most.md#using-if-as-a-method-body). Apparently, this function refers to Perl's definition of truthy. Sadly, i'm not familiar with Perl

[2021-07-01 20:59] alvinj commented on #1563
Technically I can generate PDF and MOBI versions pretty quickly. I think we were just waiting to have the book reviewed to get it in better shape. Then I just need to take out the time to remember the process. :)

[2021-07-08 11:59] gverbruggen opened #2113 "Bug in example code of "Scala 3: Scala for Python Developers""
Near the bottom of the document there's this example:

**Filtering:**
[code]
[code]

That first line of Python is wrong.

The correct python for the filter is:
[code]

And if you want to more closely mirror the Scala example:
[code]

[2021-07-08 12:43] julienrf commented on #2113
Thank you for reporting! Would you be interested in submitting a fix?

[2021-07-15 11:44] sthagen commented on #2113
The python code may be correct that way, but in my experience not idiomatic. You try to not name lamdas anyway in python, as in most such cases a plain old function then serves you better.

The final example in the issue description using filter I would expect rather written like this:
[code]

[2021-07-20 21:47] #1982 closed

[2021-08-10 20:29] #2113 closed

[2021-08-10 20:29] SethTisue commented on #2097
yes, a PR on this would be welcome

[2021-08-10 20:30] SethTisue commented on #1995
sorry, not sure what you mean?

[2021-08-10 20:31] SethTisue commented on #1984
Agreed. Pull requests with these improvements would be welcome.

[2021-08-10 20:32] SethTisue commented on #1959
@robstoll does the problem still exist in the page's new location on docs.scala-lang.org?

[2021-08-10 21:08] robstoll commented on #1959
@SethTisue looks good https://docs.scala-lang.org/scala3/reference/metaprogramming.html

[2021-08-10 21:08] #1959 closed

[2021-08-10 21:38] robstoll commented on #1959
@SethTisue as side notice, https://dotty.epfl.ch/docs/Metaprogramming/index.html still exists (with the bug), maybe time to take that one down?

[2021-08-10 22:54] SethTisue commented on #1959
Non-blank pages, at least, have a "The content of this page is outdated. Click here to find the up to date version of this page." header on them. (I'm not sure why it was decided to do that instead of just redirecting, I wasn't involved with that.)

[2021-08-11 11:08] Altair-Bueno commented on #2097
I created a [PR](https://github.com/scala/docs.scala-lang/pull/2154) using Perl's definition of `truthy` as seen [here](https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/methods-most.md#using-if-as-a-method-body) to keep things related

[2021-08-11 13:29] Daenyth opened #2155 "-Yimports documentation entry gives invalid format"
<img width="515" alt="Screen Shot 2021-08-11 at 9 25 50 AM" src="https://user-images.githubusercontent.com/14644/129037548-786d6e60-f861-489f-8113-74657a23d83c.png">

The documentation displays usage like `-Yimports foo,bar`, but if you actually use that format, you get a compile error of `bad preamble import foo,bar`

It needs to be `-Yimports:foo,bar`

On 2.13.6

[2021-08-11 18:04] SethTisue commented on #2155
note that this is automatically generated so the fix would need to be upstream; see https://github.com/scala/docs.scala-lang/issues/1711 for context

[2021-08-18 09:43] bblfish opened #2158 "Opaque Types in Book"
https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/types-opaque-types.md

That page is very nicely written and helpful.
Reading it does make me wonder if one looses the efficiency gains if one combines a bit of the abstraction with the opaque types.

For example it seems like it could still make sense to have a `trait Logarithm` with a `type Logarithm` and then have a couple

[2021-08-18 10:02] julienrf commented on #2158
Hi @bblfish!

I don’t think this issue tracker is the best place to discuss your problem. Maybe open a thread on users.scala-lang.org?

The difference between opaque types and abstract type members is that abstract type members can have several “concretizations” (whereas opaque types alias to one thing only). Abstract type members seem to be what you are looking for, from what I understand. You mi

[2021-08-18 10:02] #2158 closed

[2021-08-18 10:07] bblfish commented on #2158
Ok, the larger question may not fit the place of the discussion for the book. I just added that as context for your interest.

The narrower question about the Logarithm does seem very relevant to the book.
There has to be a simple answer: either adding the bit of abstraction looses the efficiency gains of opaque types or not. If not, then it would be worth stating that there.

[2021-08-18 10:17] julienrf commented on #2158
OK, thank you for clarifying. I think the documentation already answers your question. With abstract type members, there is no cost of “wrapper” (unlike the first solution shown in that page), but there can be a boxing cost (see https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/types-opaque-types.md#boxing-overhead)

[2021-08-18 10:36] bblfish commented on #2158
ok, thanks for all the pointers. I'll be checking them out soon, as I have to get round to upgrading that library.

[2021-08-18 17:29] SethTisue commented on #2158
If you see an opportunity for improving the book text, a pull request would be welcome.

[2021-08-18 17:33] bblfish commented on #2158
I guess it would be helpful if you could be extra clear that the code above is problematic (ie. that opaque types don't work with inherited traits as shown.

Because I have a feeling that I would not know how to test that myself.

[2021-08-26 11:49] unkarjedy opened #2164 "scala3 syntax reference: missing SimpleType1 definition"
`SimpleType1` is used in several places but there is no definition of what it is:

https://docs.scala-lang.org/scala3/reference/syntax.html

[2021-08-30 14:32] #2097 closed

[2021-09-09 14:39] vee-k opened #2175 "No Search"
Hi, just started learning Scala3, love the book, but couldn't find Search function - is there a way to search through the book?

[2021-09-10 07:41] julienrf commented on #2175
Hi @vee-k, there is currently a search function, but it is available on the landing page only (https://docs.scala-lang.org). I agree that we should make it available on every page.

If someone is interested in making this change, a pull request would be welcome :relaxed:

[2021-09-10 07:45] vee-k commented on #2175
Ah, great, thank you for the heads-up!
 I'm blind ...
But it would be a bit more practical to have it on each page :)

Thanks a lot for putting the whole thing up anyway !
Have a nice weekend ahead

On September 10, 2021 7:41:22 AM UTC, Julien Richard-Foy ***@***.***> wrote:

Viktoriana Kostov
Visual Communication Designer
komiska.com
***@***.***

[2021-09-10 12:52] SethTisue opened #2176 "switch from Travis-CI to GitHub Actions"
we're looking to reduce our Travis-CI usage in scala/* (https://github.com/scala/scala-dev/issues/785)

is there a volunteer who would like to attempt the switch? @exoego already did scala-lang at scala/scala-lang#1275, so probably an identical or nearly identical setup would work here

[2021-09-13 19:32] danecek opened #2177 "The link to the source code is broken."
I tried to follow the source code link in:
https://scala-lang.org/api/3.x/scala/PartialFunction.html
and got 404.

[2021-09-13 19:37] griggt commented on #2177
See also https://github.com/lampepfl/dotty/issues/13488

[2021-09-14 22:35] SethTisue opened #2183 "Migration code hardcodes Scala version 3.0.0"
instead, the value from `_config.yml` should be used (related: #2182)

[code]

[2021-09-16 19:17] steinybot opened #2184 "Link to API page for #:: is broken"
Not too sure if this is the correct place to report issues with the API docs but if you go to https://scala-lang.org/api/3.x/scala.html and then click on the link for [`#::`](https://scala-lang.org/api/3.x/scala/%23::$.html) then that page is broken and it shows the index page instead.

[2021-09-21 16:33] danecek opened #2186 "Invalid production rule?"
[code]

[2021-09-21 18:02] SethTisue commented on #2186
what page is this in reference to?

[2021-09-25 09:30] gaopinghuang0 opened #2190 "[Tour] Currying section could add more explanations to Partial application"
The current Partial application in the [multiple parameter lists section](https://github.com/scala/docs.scala-lang/blob/main/_tour/multiple-parameter-lists.md) is as follows.
[code]

It'd be better to remind the reader of the syntax of using `_` at the end of the numberFunc definition.
Also, it would be helpful to explain the `:+` operator and add a hyperlink for more details.

Missing those expla

[2021-09-28 12:47] bishabosha opened #2192 "Mention that enum parameters are private by default"
e.g. see https://stackoverflow.com/questions/69241319/are-scala3-enum-parameters-public-val-fields-by-default-they-appear-to-be-pr/69362032#69362032

[2021-10-04 06:04] julienrf commented on #2184
Thank you @steinybot for the report! There might be a bug in scaladoc, maybe @BarkingBad can check?

[2021-10-04 08:44] julienrf commented on #2190
@gaopinghuang0 thank you for reporting. I agree with your comments. Would you be interested in contributing a pull request? Also, it is worth noting that in Scala 3 the trailing `_` is not anymore needed, so I’m tempted to just leave it out, with a comment below saying that it in Scala 2 we need to add the trailing `_`.

Regarding “it would be helpful to explain the :+ operator”, I suggest using t

[2021-10-04 09:32] BarkingBad commented on #2184
It is very strange, the problem is apparently with `#` symbol, it fails also for inner object `#::` in https://scala-lang.org/api/3.0.1/scala/collection/immutable/Stream$.html with `Not found` message. However, both these links work well at Nighly version https://dotty.epfl.ch/api/scala/collection/immutable/Stream$.html and https://dotty.epfl.ch/api/scala.html. The interesting thing is that these

[2021-10-05 17:58] SethTisue commented on #2176
LOL, Vincenzo did this back in January 😆

[2021-10-05 17:58] #2176 closed

[2021-10-05 22:29] whiteleyj opened #2199 "Getting Started with Scala in IntelliJ could use some love around adding dependencies."
Currently the docs on how to [add a dependency to sbt](https://docs.scala-lang.org/getting-started/intellij-track/building-a-scala-project-with-intellij-and-sbt.html#adding-a-dependency) is a single step process.  Open up build.sbt and add the following line...`scala-parser-combinator`. It then goes on to explain what the `+=` operator does, but doesn't really get into how to import the dependency

[2021-10-06 09:28] julienrf commented on #2199
Hi, your suggestion sounds reasonable to me, although maybe we could use an even simpler library such as `fansi`?

[2021-10-06 16:54] julienrf commented on #2199
It looks like you did the PR perfectly, thank you!

[2021-10-12 10:34] BarkingBad commented on #2177
https://scala-lang.org/api/3.x/scala/PartialFunction.html (and all other 2.13.16 sources) should work now. Please check. If not, please hard refresh your browser in case it cached some results.

[2021-10-23 11:00] LLCampos opened #2209 "It is awkward that the description of `Duration` is in the `Future and Promises` chapter?"
So, [this](https://docs.scala-lang.org/overviews/core/futures.html#utilities) section isn't related to Futures nor to Promises, which is what the chapter is supposed to be about.

[2021-10-26 11:48] krisweiss opened #2210 "[Tour] Case Classes example error"
There seems to be an error in the Tour of Scala, Basics, Case Classes example.
[code]
Running the code in https://scastie.scala-lang.org/ throws: value + is not a member of Playground.Point, but could be made available as an extension method.

Using a String type as the first argument seems resolves the issue:
`println(point.toString + " and " + anotherPoint + " are the same.")`
or
`println("" + p

[2021-10-27 06:07] #2210 closed, assigned to nobody

[2021-10-27 12:48] linteck opened #2212 "Clarify terminology for enums with parameters on the parent class"
In this page:
https://docs.scala-lang.org/scala3/reference/enums/enums.html

Is this example of 'Parameterized enums' really a 'Parameterized enums'?
[code]
===================
This is my understanding. Maybe I am wrong.
Parameterized enums should have parameters in enum value. Have parameters in the enum type is not 'Parameterized enums'.

This is a 'Parameterized enums':

[code]

[2021-10-30 08:40] Mikhail42 opened #2213 "Invalid link to “Type Classes as Objects and Implicits” in types-type-classes.html"
In https://docs.scala-lang.org/scala3/book/ there is invalid link to paper “Type Classes as Objects and Implicits” (2010) by Oliveira et al. Current link: https://ropas.snu.ac.kr/~bruno/papers/TypeClasses.pdf (result: Not Found). Valid link: https://infoscience.epfl.ch/record/150280/files/TypeClasses&usg=AOvVaw1YP0WegqUe-A3oaZG-67Ja (on this page you can download paper).

[2021-11-01 10:20] bishabosha commented on #2212
I agree we should clarify the terminology we use to describe enums where the parent class takes parameters (aka shared  fields) vs enum cases that take parameters (unique fields per case)

[2021-11-01 13:12] fsalvi commented on #2184
Sorry for the delay.
I tried to fix the problem. It looks better now. Let me know if you still see some problems...

[2021-11-01 13:50] julienrf commented on #2184
Thank you Fabien, yes, the issue seems to be fixed now!

[2021-11-01 13:50] #2184 closed

[2021-11-07 12:02] erdnaxeli opened #2216 "if/then/else, for, and old syntax"
Hi,

[This page](https://docs.scala-lang.org/scala3/book/taste-control-structures.html) talks about control structures. For the if/then/else it only expose the (new ?) syntax
[code]

But for the `for` or the `while` construct, it also show the old syntax with parenthesis around the condition and curly brackets. Isn't it a bit confusing? Should not the doc either:
* present the old syntax for the i

[2021-11-07 16:16] SethTisue commented on #2216
agree

[2021-11-07 19:43] danecek opened #2217 "Missing production rule"
**TypeParamClause** has no production rule in
https://docs.scala-lang.org/scala3/reference/syntax.html:
`TypeDcl           ::=  id [TypeParamClause] {FunParamClause} TypeBounds [‘=’ Type]`

[2021-11-23 17:29] j123b567 opened #2232 "Scala 3 for python developers: switch/match/case"
From python 3.10 (see [PEP 634](https://www.python.org/dev/peps/pep-0634/)) there is already structural pattern matching.

So comparision of "match expressions:" and "switch/match:" is probably no longer "N/A" for python.

I'm not using python >=3.10 nor scala so I'm not able to suggest proper python alternative.

[2021-11-23 23:40] rysh commented on #1933
Hi @SethTisue ,
I thought I'd give it a try, but when I checked, it seemed to have already been resolved.
<img width="1748" alt="スクリーンショット 2021-11-24 8 38 17" src="https://user-images.githubusercontent.com/828709/143145777-49caaf47-17cd-4e75-a454-40516e97a173.png">

[2021-11-23 23:54] rysh opened #2234 "Language selection dropdown disappears on mobile."
Wide width web
<img width="1354" alt="スクリーンショット 2021-11-24 8 41 36" src="https://user-images.githubusercontent.com/828709/143146483-2b77dfaf-1f1b-4532-a92a-800aeb129762.png">

When viewing on mobile or narrowing the width.
<img width="668" alt="スクリーンショット 2021-11-24 8 41 48" src="https://user-images.githubusercontent.com/828709/143146583-1845c8fd-e4d2-4895-b3a1-5b193e6056e1.png">

Nowhere.
<img wid

[2021-11-24 00:25] #1933 closed

[2021-11-24 00:25] SethTisue commented on #1933
great! thanks for checking on it

[2021-11-27 17:53] scharom16 opened #2238 "Possible contradiction: Minor version bump indicates binary incompatibility"
The following line does state that there is a binary incompatibility when upgrading the minor version.
https://github.com/scala/docs.scala-lang/blob/bcd9506ad3e6b8ba6036a5c361525ed530d76212/_overviews/tutorials/binary-compatibility-for-library-authors.md?plain=1#L203

A few lines above, the three rules on semantic versioning state that a minor version bump should be used when the publisher introdu

[2021-11-27 18:35] sjrd commented on #2238
For v0.x.y versions, the rules are different than for >= v1.0.0. A change in `x` can break binary compatibility.

[2021-11-28 09:38] scharom16 commented on #2238
Ahh, thank you for the clarification.

[2021-11-28 09:38] #2238 closed

[2021-11-29 15:34] byyue commented on #2232
Thanks. I'll submit a PR.

[2021-11-30 08:53] #2213 closed

[2021-12-01 11:30] marksmithson opened #2243 "Unit used in Scala Book without an explanation"
In the Scala book, `Unit` is used in the Sample Pizza class example on this page https://docs.scala-lang.org/overviews/scala-book/enumerations-pizza-class.html.

This has not previously been explained. Perhaps it could be described on the previous page in the section about method return types. https://docs.scala-lang.org/overviews/scala-book/methods-first-look.html

I looked it up and found this -

[2021-12-01 15:28] arata-honda opened #2244 "Change the external link"
I commit on https://github.com/scala/docs.scala-lang/pull/2235, but build is error.

[code]

I try to visit this links but link is changed

- https://dotty.epfl.ch/docs/Dropped%20Features/index.html
-> https://dotty.epfl.ch/docs/dropped%20features/index.html
-  https://dotty.epfl.ch/docs/Other%20Changed%20Features/index.html
-> https://dotty.epfl.ch/docs/other%20changed%20features/index.html
- htt

[2021-12-03 21:19] #2244 closed

[2021-12-06 16:29] A-Roso opened #2266 "add explanation in book that indentation is significant"
There is no explanation in the book that indentation is significant and needed for the compiler. When searching for 'Indentation' it is only referenced in the Style Guide, Migration Guide and Language Reference.
I think for new learners that start learning Scala with Scala3 and the Scala3 book, it would be very helpful to add a few lines of explanation e.g. in A Taste of Scala - Control Structures

[2021-12-06 16:31] SethTisue commented on #2266
@alvinj

[2021-12-08 20:47] Nicolapps opened #2270 "/api/current/ leads to Scala 2 API docs instead of Scala 3"
Hello,

The https://www.scala-lang.org/api/current/ URL currently shows documentation for the latest Scala 2 version. I would expect it to lead to https://www.scala-lang.org/api/3.x/ instead. Is the current behavior expected?

[2021-12-09 00:49] alvinj commented on #2266
Hi @SethTisue. Unfortunately I have to focus on paid work at the moment, but yes, if we didn’t mention that, it should be added. I’ll be glad to do this as part of some volunteer work again next year, but honestly, it won’t be until somewhere around March-June.

[2021-12-09 00:54] SethTisue commented on #2266
maybe someone else would like to pick this up.

[2021-12-09 07:56] julienrf commented on #2270
This is a good point. We clearly have _two_ current stable versions, as shown on the home page:

![Screenshot from 2021-12-09 08-55-42](https://user-images.githubusercontent.com/332812/145356305-6a759841-6a05-4260-86aa-50f9245e4422.png)

Eventually, we want `current` to be `3.x`, but I am not sure _now_ is the right time to do so.

[2021-12-12 20:54] Nicolapps commented on #2270
Thank you for your reply. I will use `3.x` in the mean time.

[2021-12-13 11:13] byyue opened #2271 "Chinese (Simplified) translation for Scala 3 Book"
Step by step translation of Scala 3 Book to Chinese (Simplified).

[2021-12-18 05:13] arkivm opened #2277 "Control structures: Add example for `@switch` annotations"
In Scala 3 Book, under [Control Structures](https://docs.scala-lang.org/scala3/book/control-structures.html), the box under *match expressions* recommends using `@switch` annotation for improved performance. But it doesn't specify the syntax. Also, it's a bit confusing to bring up `annotations` without introducing what they are in "Taste of Scala" chapter.

The `@switch` note box should give a one

[2021-12-18 07:54] arkivm opened #2278 "domain-modelling-tools: Use `name` argument in abstract class"
In Scala 3 Book, under [Abstract classes](https://docs.scala-lang.org/scala3/book/domain-modeling-tools.html#abstract-classes), the example for an abstract class that can take arguments doesn't really use the argument.

[code]

However, the immediate example that shows "traits with parameters" use them.

I'd be happy to send a PR.

[2021-12-18 08:46] Philippus commented on #2278
That would be great @arkivm !

[2021-12-20 06:12] SamSoldatenko opened #2280 "Text readability for not-so-sharp eyes."
I wear glasses. Dimmed text color makes reading much harder!
I have to turn off body {color:...} CSS style on every page to be able to read the documentation.

<img width="1030" alt="Screenshot 2021-12-20 at 08 04 44" src="https://user-images.githubusercontent.com/10289657/146719889-5b48ed1d-cd7c-4334-8179-1dc1782dd784.png">

Could you remove this line
https://github.com/scala/docs.scala-lang/blob

[2021-12-22 19:31] SethTisue commented on #763
Update: SPP has been defunct for some years.

[2021-12-22 19:33] SethTisue commented on #686
`run-mdoc.sh` has replaced `run-tut.sh` and it worked locally when I tried it just now.

[2021-12-22 19:33] #686 closed

[2021-12-22 19:34] SethTisue commented on #677
we replaced tut with mdoc, but the issue remains.

[2021-12-22 19:35] SethTisue commented on #676
not sure if this is still an issue since we switched from tut to mdoc?

[2021-12-27 09:49] #2278 closed

[2021-12-27 10:13] #2232 closed

[2022-01-06 03:37] SethTisue opened #2288 "Scala 3 migration guide doesn't mention that `@specialized` no longer does anything"

[2022-01-07 20:42] coreywoodfield opened #2290 "Scala 3 Metaprogramming Reference has some invalid example code"
The example [here](https://docs.scala-lang.org/scala3/reference/metaprogramming/reflection.html#tree-utilities) is as follows:
[code]
Where does `body` come from? I'm guessing the pattern should maybe be `ValDef(_, body, rhs)` but I'm not 100% sure

[2022-01-14 19:18] Philippus commented on #1495
Fixed in https://github.com/scala/docs.scala-lang/pull/1844.

[2022-01-14 19:18] #1495 closed

[2022-01-25 20:55] plouj opened #2297 "[Doc] recover and recoverWith overview needs more differentiation"
Right now
https://github.com/scala/docs.scala-lang/blob/6ef51ab1677fa1f7c311d06db164911d08bedc5c/_overviews/core/futures.md?plain=1#L628 starts the same for both `recover` and `recoverWith`:

vs

which is rather confusing to beginners.

The first real differentiation appears in the middle of the paragraphs:

vs

which took me a while to find and I personally struggled to parse because I couldn't t

[2022-01-27 08:23] ShalokShalom opened #2299 "Anchor points ⚓"
I like to link that section specifically:

![Screenshot_2022-01-27-09-18-41-22](https://user-images.githubusercontent.com/6344099/151319342-14c31a79-54c5-4d18-a5fc-3584aa95cfdf.jpg)

That is currently not possible.
I can only link the [whole page](https://docs.scala-lang.org/scala3/book/scala-features.html), and the recipient has to scroll down to that section.

Other documentation pages offer the

[2022-02-01 14:59] byyue opened #2302 "A link is invalid"
https://dotty.epfl.ch/docs/reference/other-new-features/explicit-nulls.html is not available anymore, which will fail the build.

[2022-02-01 15:13] #2302 closed

[2022-02-03 18:39] som-snytt opened #2308 "Explain why to use -target -release etc"
## reproduction steps

It comes up all the time. Is there a plugin I can use to automate my expectations? `sbt-seth`?

https://discord.com/channels/632150470000902164/632150470000902166/938864015545880626

## problem

https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html should probably explain option selection.

[2022-02-03 18:44] SethTisue commented on #2308
a really good doc page would note the Scala 2 vs 3 differences on this, too

it came up just the other day in some comment @smarter made over the in the Dotty repo, but I wasn't able to find it just now when I searched. (it was something like "Scala 2 should be changed to match the Scala 3 behavior")

[2022-02-03 18:50] SethTisue commented on #1711
Is there a new volunteer who would like to tackle this?

[2022-02-03 18:51] SethTisue opened #2309 "Broken course link"
[code]

@julienrf mind fixing this? it's failing CI

[2022-02-03 18:57] Jasper-M commented on #2308
There you go https://contributors.scala-lang.org/t/improving-scala-3-forward-compatibility/5298/13?u=jasper-m

[2022-02-03 18:59] som-snytt commented on #1711
It's funny the issues that seemed so important right before the global pandemic.

[2022-02-03 19:17] mrdziuban commented on #2308
This may go beyond the scope of documentation changes, but I was also thrown off that each option needed to be set differently in my `build.sbt` -- `-release` needs to be followed by a space then the version, while `-target` needs a colon then the version

[code]

[2022-02-03 19:56] SethTisue commented on #2308
Everyone should keep piling on with bits of info for the eventual doc page! 👍

[2022-02-03 21:31] SethTisue commented on #1146
I haven't seen this book, but it sounds relevant: https://leanpub.com/jvm-scala-book

[2022-02-04 06:23] byyue commented on #2309
This issue has been noticed. You may want to take a look at https://github.com/scala/docs.scala-lang/pull/2306#issuecomment-1028049314.

[2022-02-04 06:25] byyue commented on #2299
Do you mean [this](https://docs.scala-lang.org/scala3/book/scala-features.html#expressive-type-system)?

[2022-02-04 16:17] SethTisue commented on #2309
Ah, I hadn't seen that, thanks.

[2022-02-04 17:36] kori73 opened #2310 "Typo in domain-modeling-tools"
In the Objects section there is a typo:

`StringUtil.truncate("Chuck Bartowski", 5)  // "Chuck"`

This should be replaced by:

`StringUtils.truncate("Chuck Bartowski", 5)  // "Chuck"`

since the object is defined as: `StringUtils`

[2022-02-04 19:21] #2310 closed

[2022-02-04 20:53] ac2epsilon opened #2312 ""If as expression" needs some clarification"
I suggest dropping this near "if as an expression" in Control structures

+ if construct becomes (will be inferred) as expression only if all ways of logic will finish with some value. If without else will be treated as a statement. And as such will not produce expected behavior, even in the case when if is true:

Try this code:
----
val c1 = if 4>=3 then "bingo!" else "nope!"
println(c1.getClass)

[2022-02-04 21:47] ac2epsilon opened #2313 "catch-all-with-variable trick needs some clarification"
I suggest adding a note about control structures-match-using default value

+ Using variable bindings, you have to keep in mind, that any form of catch-all effectively breaks the matching chain. Some systems provide lookup for the most specific matches, but Scala's match does not. This error is easier to catch in the case of underscore placeholder but can be easily missed for var bindings. Especia

[2022-02-05 03:26] byyue opened #2314 "A clarification on programming paradigms"
Regarding one sentence in [Scala 3 features](https://github.com/scala/docs.scala-lang/blob/main/_overviews/scala3-book/scala-features.md#a-high-level-language):

As far as I know, this conception is not specific to functional programming but more closely related to declarative programming, whose sub-paradigms include DSL, functional programming, and logic programming, among others. A typical examp

[2022-02-05 06:03] ac2epsilon opened #2315 "Examples (lots of) with a broken sense of FP"
[code]
While things like this just work, far better from the beginning insulate pure (adt) code from impure (smelling) one. Sure the following interpretation is more Scal-ish than the former, simplifies refactoring, and after all saves typing:
[code]

[2022-02-05 21:54] ShalokShalom commented on #2299
Yep. How you are doing this?

[2022-02-06 11:27] byyue commented on #2299
Please refer to the [anchor within a page](https://www.w3docs.com/snippets/html/how-to-create-an-anchor-link-to-jump-to-a-specific-part-of-a-page.html).

Then you can review the source code and generate the link: `https://{the_link_to_the_page}#{some_id_or_name}`

[2022-02-06 16:32] julienrf commented on #2315
That’s a good point, thank you for creating this issue. Would you be interested in submitting a fix?

[2022-02-06 20:06] ShalokShalom commented on #2299
You surely agree, it's more preferable to simply have an icon, that you can right-click.

[2022-02-07 02:59] SethTisue commented on #2064
The FAQ no longer covers `breakOut` at all.

[2022-02-07 02:59] #2064 closed

[2022-02-07 03:37] SethTisue commented on #1150
anyone know how to make this work on macOS 12.1 (Monterey)? I don't have a `/Library/Developer/CommandLineTools/Packages` directory

[2022-02-07 03:40] SethTisue commented on #1150
sigh, on my M1 Mac on macOS 12.1 (Monterey) I'm getting:

[code]

[2022-02-07 03:44] SethTisue commented on #1150
this seems promising: https://www.earthinversion.com/blogging/how-to-install-jekyll-on-appple-m1-macbook/

[2022-02-07 04:31] SethTisue commented on #1150
that worked

[2022-02-07 04:46] SethTisue opened #2320 "Alvin's "Scala Book" books are missing from our books page"
https://docs.scala-lang.org/books.html should link to https://docs.scala-lang.org/overviews/scala-book/introduction.html and https://docs.scala-lang.org/scala3/book/introduction.html

[2022-02-07 08:45] julienrf commented on #2320
Maybe the name is wrong but the “Scala Book” is not a printed book, so I am not sure it is relevant to add it to this page?

[2022-02-07 09:28] julienrf commented on #2309
The link is now public. Thank you for your patience!

[2022-02-07 09:28] #2309 closed

[2022-02-07 13:58] SethTisue commented on #2320
We already list _Creative Scala_, which is also a free online book. (We could remove it again, of course, if a printed-book policy were agreed on.)

Some of us like printed books, but many people don't care, actually prefer ebooks, and don't see a big distinction between something that is available on paper and something that isn't.

What's the argument for remaining silent about the existence of

[2022-02-07 14:04] julienrf commented on #2320
I thought that page was more for printed books, but you made me realize that Creative Scala is not a printed book either. So, that argument vanishes, I guess. I’m fine with adding a link to it.

[2022-02-07 23:00] ac2epsilon commented on #2315
Good, it's mine, then.

Not a fix actually, it is rather some code review.

Codename un-print-l-n-isation(-itation?). I will use it to mark all related
PRs. Any suggestions?

To hold control I limit the scope to Scala 3 book.

The plan is the following: open files in order, look for println,
paraphrase code to remove println-s (but one), try in Scastie, commit in
loop, push, PR in loop.

Looks lik

[2022-02-07 23:53] alvinj commented on #2320
If I had some free time, there are things I would like to improve. But I haven’t heard/seen any major complaints, so maybe it’s good enough as is? In that case that sentence could be changed to something like, “If you see a place where the documentation can be improved, please submit a PR...”

[2022-02-08 00:02] alvinj commented on #2320
More than you might want to know, but ... in regards to PDFs and books in general, there can be some wonkiness. For instance:

- [Functional Programming, Simplified](https://alvinalexander.gumroad.com/l/lfpis) is available as a paid PDF at that link, and a printed and Mobi book on Amazon, and it sells great, but I didn’t have anyone review it.
- Due to some production and process problems, the fir

[2022-02-08 07:04] julienrf commented on #2315
I don't think we should systematically remove all the println statements. In the example you gave, that would improve the readability (although I would rename the val to 'message' instead of 'r'), with the added benefit of showing a purely functional match expression.

[2022-02-08 23:12] ac2epsilon commented on #2315
Got it. Working.

вт, 8 лют. 2022 р. о 09:04 Julien Richard-Foy ***@***.***>
пише:

[2022-02-17 10:06] bishabosha opened #2334 "Make current collections the default guide"
https://docs.scala-lang.org/overviews/collections/maps.html is one of the most popular sites visited from google, however it covers content for the 2.12 collections, with a notice to click on the updated version (`/overviews/collections-2.13`).

Should we swap the state of things and make the 2.13 collections the default from https://docs.scala-lang.org/overviews/collections?

[2022-02-17 10:18] julienrf commented on #2334
We would need to
- move the old collections guide to `/overviews/collections-2.12`
- move the “new” collections guide to `/overviews/collections`, and add a `redirect_from` directive to still keep the `/overviews/collections-2.13` URL).

That being said, it is not clear to me why do people browse the 2.12 version. Is it because Google pointed them there, or because they actually want this version,

[2022-02-17 12:05] bishabosha commented on #2334
from Plausible these pages are visited from Google mostly, this is what you see actually:

![Screenshot 2022-02-17 at 13 05 19](https://user-images.githubusercontent.com/13436592/154478309-8f667e31-7c32-4b1b-91ad-fd4949720807.png)

[2022-02-25 14:10] byyue commented on #1150
In case it doesn't work, try:
`bundle update nokogiri`

[2022-02-28 05:03] robatipoor opened #2338 "tailsOption do"
Written in this part of the  scala3 book [collections-methods](https://docs.scala-lang.org/scala3/book/collections-methods.html)

But we do not have a method with  name tailOption in the collections

[2022-02-28 09:48] julienrf commented on #2338
Hello, good catch! Would you be interested in contributing a fix?

[2022-03-02 15:15] SethTisue opened #2339 "broken links to Dotty docs"
CI is failing with:

[code]

[2022-03-05 23:49] Shorla commented on #2164
Hi, I am new to contributing to scala repository. Can I work on this @SethTisue or can you direct me to an issue I can start with? thanks.

[2022-03-06 13:18] Philippus commented on #2164
https://github.com/lampepfl/dotty/blob/main/docs/_docs/internals/syntax.md looks more up-to-date.

[2022-03-06 23:53] som-snytt opened #2381 "Placeholder FAQ claim overreaches"
## Reproduction steps

[code]

## Problem

The [FAQ](https://docs.scala-lang.org/tutorials/FAQ/index.html#why-doesnt-my-function-literal-with-_-in-it-work) claims the function can't be written with placeholder syntax.

[2022-03-07 07:59] julienrf commented on #2164
@Shorla Thank you for proposing your help! We are currently (this is taking a bit of time, though…) reworking the Scala 3 reference documentation. In this context, it is probably not worth fixing the content of these pages here. Hopefully this issue should be fixed within a couple of weeks.

[2022-03-08 17:00] #2339 closed

[2022-03-08 18:30] SethTisue commented on #2164
@Shorla hello, welcome! we've got a number of issues tagged either "help wanted" or "good first issue" or both. and really, any open ticket is fair game; you can inquire about status or difficulty level on any ticket you're considering working on.

if you want to do something non-trivial that's also very high value, consider https://github.com/scala/docs.scala-lang/issues/1711

[2022-03-12 04:47] xuwei-k opened #2343 "update scala-native in Scala 3 migration guide"
https://github.com/scala/docs.scala-lang/blob/588c5b617e709876efca269689c15e68ed8c62ae/_overviews/scala3-migration/tutorial-prerequisites.md?plain=1#L104-L107

https://scala-native.readthedocs.io/en/latest/changelog/0.4.3.html

[2022-03-15 23:58] ac2epsilon opened #2346 "Questionable terminology"
Here and there I see "generic (type) parameters", so I feel like we have got "generic parameters", type parameters, which in turn also generics (which is perfectly possible, but probably not what we are trying to express). Well, if I am mistaken not: There are Generics || Generic Types (classes, traits in Scala, interfaces in Java, methods, functions, etc) which have/use/declared-with Type Paramet

[2022-03-16 08:14] julienrf commented on #2346
Good point, I agree with replacing “generic type parameters” with “type parameters”.

[2022-03-23 17:26] smarter opened #2352 "Display Scala 3 doc above Scala 2 doc and remove WIP message"
On https://docs.scala-lang.org/, Scala 2 appears before Scala 3, and on all Scala 3 documentation pages like https://docs.scala-lang.org/scala3/new-in-scala3.html there's a message warning that the documentation is a "Work in Progress". Now that Scala 3 is the default for new users and that we've had time to fix the documentation, I think we should remove the warning and display the Scala 3 doc fi

[2022-03-29 15:57] rafrafek opened #2357 "arity-0 function "hello" performs side effects and should be declared with empty parentheses"
Function from https://docs.scala-lang.org/scala3/book/taste-hello-world.html
[code]
is arity-0 and performs side effects, therefore it should look like this:
[code]

https://docs.scala-lang.org/scala3/book/methods-most.html says:

[code]

[2022-03-29 16:49] #2357 closed

[2022-03-30 21:59] Shorla commented on #2266
Hi @SethTisue, I am new here but would love to contribute to scala docs. can I be assigned to this issue?

[2022-03-30 22:23] Shorla commented on #1711
Hi @SethTisue, I don't mind getting started on this.

[2022-03-30 22:24] Shorla commented on #1711
How can I get started on it?

[2022-03-31 05:56] SethTisue commented on #2266
sure, go for it!

[2022-03-31 05:58] SethTisue commented on #1711
@Shorla are you able to run `generateDocsData`?

[2022-03-31 07:21] som-snytt commented on #2352
What happened to the old saying, "Age before beauty"?

[2022-03-31 07:54] julienrf commented on #2352
Thank you @smarter for opening this issue.

I believe this is not an easy task. Also, before we can remove the “work in progress” message, the documentation needs to be stabilized…

That being said, we plan to work on this issue at the Scala Center, and here are my thoughts so far, feedback is welcome :)

- Instead of dividing the documentation between Scala 2 and Scala 3, unify them as much as po

[2022-03-31 14:54] Shorla commented on #1711
@SethTissue I tried running it with docs/mdoc, it said commamd not found.
How do I run it?

[2022-03-31 15:08] Shorla commented on #2266
should i move the explanation here:https://docs.scala-lang.org/style/indentation.html to scala book?

[2022-03-31 15:21] bishabosha commented on #2266
this explanation is for Scala 2, where this indentation is only a style preference - also it uses curly braces, which in Scala 3. does not turn on the new indentation rules.

Here are the official rules for Scala 3 (but they are not very beginner friendly) https://docs.scala-lang.org/scala3/reference/other-new-features/indentation.html

[2022-03-31 16:18] som-snytt commented on #2155
I don't remember the context of my previous remark, but I just hit it again.

https://github.com/scala/scala/pull/9982

has a commit to accommodate `-release 8` and `-release:8`, and also effectively backports the same for int-valued settings, which was adjusted for Scala 3.

However, that would not handle splitting on comma `-Yimports foo,bar`. I can't tell if that is a good idea.

A possible fix

[2022-03-31 16:39] som-snytt commented on #1825
Sample unification observation at https://github.com/scala/docs.scala-lang/issues/2352

[2022-03-31 16:49] som-snytt commented on #1711
Responding to an old comment about `-target`, `-target` and `-release` are normalized in a recent PR. They accept the `jvm-1.8` style values for compatibility only. Should the doc page show all aliases for options and values? I'd suggest a separate curated page to show variants, which may be ad-hoc. Also, `-release` has upper limit that is the spec version of the running JVM, so some care is requi

[2022-03-31 16:54] som-snytt commented on #1711
The PR for optimizer flags has landed, so at least there is no need to republish the options page.

But that would be another example of a canonical form with variants (which may or may not be deprecated).

@Shorla there is a "task" under sbt in the scala/scala build. I think it was mentioned in the long thread above. Ideal case is just to run it and ... does it update the file in this sibling rep

[2022-03-31 18:41] som-snytt commented on #1711
Old volunteers also welcome. The Scala project is not "newist".

[2022-04-01 20:11] smarter commented on #2352
These all sounds like good improvements, but I don't think they preclude us from moving Scala 3 in front of Scala 2 on https://docs.scala-lang.org/, I think the current situation is confusing since the getting started page describes how to install Scala 3, but when going to the documentation page, it's easy to miss the "Scala 2" title and just click on "Tour of Scala" and learn the wrong version o

[2022-04-01 21:14] gttfrdggr opened #2365 "Main methods: Description is different to behaviour on Windows 11"
Hello folks,
I followed the description exactly (!) of the "happyBirthday" example on https://docs.scala-lang.org/scala3/book/methods-main-methods.html. My PC runs Windows 11. Quick summary:
I put the mentioned source code into a file called Main.scala:
"
PS D:\scala\nochntest> more Main.scala
@main def happyBirthday(age: Int, name: String, others: String*) =
 val suffix =
  age % 100 match
   cas

[2022-04-05 12:11] smarter commented on #2352
Also weird: on https://docs.scala-lang.org/ there is a "Language" dropdown in the "Scala 2" section, but it's not actually specific to Scala 2 and also changes the language of the Scala 3 section, so it should be moved above both sections.

[2022-04-07 19:02] gordcurrie opened #2369 "Deprecated example for implicit type casting in "A First Look at Types""
When working through the examples I ran into some deprecated warnings specifically with the Section on [Type Casting](https://docs.scala-lang.org/scala3/book/first-look-at-types.html#type-casting)

[code]

The warning is:
```method long2float in object Long is deprecated since 2.13.1: Implicit conversion from Long to Float is dangerous because it loses precision. Write .toFloat instead.```

[2022-04-08 00:47] alvinj commented on #2266
This is actually a pretty fundamental thing that I missed in the book. I agree with the initial comment that it could go in the [Control Structures](https://docs.scala-lang.org/scala3/book/taste-control-structures.html) section, since that’s where it’s first shown, or just prior to that section.

FWIW, I also see on that Control Structures page that I left the Scala 2 example indented with four sp

[2022-04-12 16:06] adpi2 commented on #2352
I Upvote this. We should show Scala 3 on the top because we want newcomers to learn Scala by reading the Scala 3 book. The Scala 3 documentation is not as complete as the Scala 2 ones but I don't think it will confuse anyone if we move it up.

[2022-04-15 18:37] SethTisue opened #2376 "Two pages recommend obsolete versions of ScalaTest"
[code]

3.0.8 is ancient; these pages should recommend the latest (3.2) and the code on them will need to be updated as well (`FunSuite` -> `AnyFunSuite` and such)

this was reported by a user on Discord

[2022-04-16 23:24] gordcurrie commented on #2369
Closing, was resolved by https://github.com/scala/docs.scala-lang/pull/2370#issuecomment-1095095735

[2022-04-16 23:24] #2369 closed

[2022-04-18 22:09] steinybot opened #2379 "Code block within details disclosure element are not rendered correctly"
On https://docs.scala-lang.org/scala3/guides/macros/inline.html there is the following details disclosure element which when expanded contains a code block that is not rendered correctly:

<img width="795" alt="Screen Shot 2022-04-19 at 10 08 30 AM" src="https://user-images.githubusercontent.com/4659562/163885322-01b62b49-f7df-4663-87a7-532249befaa6.png">

[2022-04-20 08:25] #2379 closed

[2022-04-20 15:41] som-snytt commented on #2381
It's place holder syntax, where it's translated to `x => expr(x)`.

I remember when I first saw someone point out how infix enables extra underscore powers. It seems magical at first, but is just ordinary syntax. Precedence rules matter in this example.

[2022-04-20 17:32] SethTisue commented on #2381
Oops, I thought I'd removed that sentence, after Dale set me straight. I've strikethroughed it.

[2022-04-20 17:43] som-snytt commented on #2381
Taxi drivers are on strikethru, so let me know if you need a ride from the airport.

[2022-04-21 02:02] rachitnigam opened #2382 "Mention potential gotchas in the migration guide"
I recently ported a project from Scala 2 to Scala 3 with some modules using Scala 2 and others using Scala 3. I ran into several gotchas that might be worth talking about in the docs somewhere. The entire migration process used `sbt` and `sbt-migrate`.

1. My Scala 2 project was using 2.13.6 while the latest sbt-migrate attempts to migrate projects to `3.1.*`. Once the migration commands are compl

[2022-04-21 04:21] #2376 closed

[2022-04-24 03:18] OSE-369 opened #2387 "Scala book is very hard to understand"
![Screenshot_20220424-035635](https://user-images.githubusercontent.com/103400127/164954355-685bab80-0a8d-4908-bac7-39a2a42c7717.png)

Your book "scala 3", is almost like U r writing it for professionals or experts not for beginner.
Try 2 b breaking Ur examples down, i.e 4 each example U will start all over from d very beginning, from. defining d object class.
Bcuz, just Lyk d one above "string in

[2022-04-25 06:09] julienrf commented on #2382
Thank you for reporting. About the first point, I believe there should be a compatibility matrix showing which version of Scala 2.13 supports which version of Scala 3, in https://docs.scala-lang.org/scala3/guides/migration/compatibility-classpath.html#the-scala-213-tasty-reader. (Most likely, Scala 2.13.8 supports Scala 3.1)

[2022-04-27 21:22] #2387 closed

[2022-05-16 14:50] lzm0 opened #2396 "[CSS] Misaligned page content"
![image](https://user-images.githubusercontent.com/7163127/168620750-56d42ec0-93f5-4fa6-a1f0-3ca283c8a144.png)
In Safari it looks fine.
Chrome version: 101.0.4951.64

[2022-05-16 16:58] lzm0 commented on #2396
@bishabosha FYI

[2022-05-17 06:15] unkarjedy opened #2398 "scala3 doc pages layout is broken"
https://docs.scala-lang.org/scala3/guides/migration/options-new.html

![image](https://user-images.githubusercontent.com/3989292/168741696-84a4ac70-fc3b-4f83-8f79-bb4b4dd62b4b.png)

[2022-05-17 09:24] #2396 closed, assigned to nobody

[2022-05-17 09:32] ValRCS opened #2399 "Scala 2 documentation pages showing broken layout"
Scala 2 doc pages layout are similarly broken to Scala 3 docs as in issue https://github.com/scala/docs.scala-lang/issues/2398

Example: https://docs.scala-lang.org/overviews/scaladoc/for-library-authors.html

![image](https://user-images.githubusercontent.com/38938337/168779373-7e8f41bc-bee8-49bb-9bae-32c224e23110.png)

Tested on multiple computers, multiple browsers(Chrome,Firefox, Edge)

Appear

[2022-05-17 09:36] julienrf commented on #2399
Duplicate of #2396

[2022-05-17 09:36] #2399 closed

[2022-05-17 11:29] bishabosha commented on #2398
fixed by https://github.com/scala/docs.scala-lang/pull/2397

[2022-05-17 11:29] #2398 closed

[2022-05-17 23:57] raquo opened #2401 "Website layout breaks if social media stylesheet is adblocked"
Hello,

Some adblock filters aim to hide social media buttons. To that end, they hide elements with certain class names, and also block loading resources from URLs matching certain patterns. The rules are not specific to the scala docs website, but are based on general heuristics, and are not perfect at all. For example, my uBlock Origin apparently has two filters which block `https://docs.scala-l

[2022-05-18 13:35] SethTisue commented on #1796
https://stackoverflow.com/questions/2693067/what-is-meant-by-scalas-path-dependent-types has lots of upvotes, but it's pretty brief.

[2022-05-20 06:59] julienrf commented on #1796
In my opinion this page does not contain a good example: https://docs.scala-lang.org/tour/abstract-type-members.html (what are the benefits compared to using a type parameter here?). It should be redesigned to use a compelling example that would also demonstrate path-dependent types.

[2022-05-20 07:18] #2401 closed

[2022-05-26 17:27] mukesh210 commented on #2338
@julienrf Is this issue still relevant?? I see we have "last" and "lastOption" already defined which works just like "tail" and "tailOption".

[2022-05-27 07:43] bishabosha opened #2407 "Font size issue iOS for tabs on get-started page"
![image](https://user-images.githubusercontent.com/13436592/170653614-b157510d-2444-40c9-9cca-acfd54d1b900.png)

[2022-05-27 07:52] bishabosha opened #2408 "tabs do not scale well for small devices"
when we have a small device, the tabs can expand beyond the screen width - perhaps we should make the tabs scrollable when the width is too small, otherwise I could imagine turning the tabs into accordions when width is narrow
<img width="698" alt="Screenshot 2022-05-27 at 09 50 38" src="https://user-images.githubusercontent.com/13436592/170655376-c7738353-87a8-4c33-b419-23dca506c26d.png">

[2022-05-27 08:45] bishabosha commented on #2338
`tailOption` returns `Option[Collection[T]]` because it is the remaining collection with only the first element removed, or None for a singleton/empty collection.
`lastOption` would return `Option[T]` because it is the last element of the collection, (which could be the first element for a singleton collection) or None for an empty collection

[2022-05-27 16:10] Ichoran commented on #2338
The book should be fixed.  The more convenient way, almost always, to do "`tailOption`" is to do `drop(1)`.  It doesn't cover every possible use case, but it covers enough so that the clutter of two more methods (`tailOption` and `initOption`) isn't worth it.

The few odd cases where you actually need `tailOption` should be handled with `pipe` instead, especially if you're using Scala 3 where you

[2022-05-31 09:20] #2408 closed

[2022-06-01 11:18] bishabosha opened #2415 "remove border style for code elements in scala for java/javascript/python devs"
it looks awkward for multiple lines:

![Screenshot 2022-06-01 at 13 18 07](https://user-images.githubusercontent.com/13436592/171392424-6af8e845-d56b-47bb-9d84-20fda78083c2.png)

[2022-06-01 11:19] bishabosha commented on #2415
also the green color is intended for inline text, rather than code blocks, so that may be worth considering a change

[2022-06-03 11:46] eugenevankampen opened #2417 "scalafiddle.io down?"
In the Basics tour there is a reference to https://scalafiddle.io. This website - today - returns a Error 522. Not sure if I should log it here as an issue. If not, please ignore.
![image](https://user-images.githubusercontent.com/106658852/171847453-72fd9308-dfa2-48d7-80bb-8ce69218f74a.png)

[2022-06-08 12:27] byyue opened #2422 "Unified the zh-cn translation of case class"
Translate case class to "样例类", which is the same as the official translation in the zh-cn version of Programing in Scala (both 4th / 5th Edition).

[2022-06-10 16:14] som-snytt commented on #1711
Another idea at https://github.com/lampepfl/dotty/pull/15406#issuecomment-1152496584 is to automate help doc for options.

Maybe a widget to reveal per-option help. That would let you add an option, add help text, and not touch markdown.

`-opt` has a dedicated page; it wouldn't be terrible to link to it directly, but not sure where to provide the link.

[2022-06-12 09:43] som-snytt commented on #2312
I could not find what is referred to.

Scala 3 book is https://docs.scala-lang.org/scala3/book/control-structures.html

[2022-06-12 10:28] som-snytt commented on #2313
At least it warns that subsequent cases are unreachable, but it's nice to warn the user that it will warn. The warning is not necessarily friendly.

[2022-06-14 08:54] #2313 closed

[2022-06-22 12:37] #2352 closed

[2022-06-24 08:56] slee500 commented on #2417
Same for me, I raised a PR to remove references to it. See https://github.com/scala/docs.scala-lang/pull/2446

![image](https://user-images.githubusercontent.com/14228817/175500945-c9b53151-748f-4923-ad32-5f9b498684b8.png)

[2022-06-28 06:33] #2417 closed

[2022-06-28 11:57] #2422 closed

[2022-06-30 06:11] xuwei-k opened #2449 "update `futures.md` for other languages"
- I think we should apply https://github.com/scala/docs.scala-lang/pull/1051 and some other changes

https://github.com/scala/docs.scala-lang/commits/main/_overviews/core/futures.md

<hr />

- [x] ja: https://github.com/scala/docs.scala-lang/blob/6d9b262389ac51/_ja/overviews/core/futures.md
- [x] _zh-cn: https://github.com/scala/docs.scala-lang/blob/6d9b262389ac51/_zh-cn/overviews/core/futures.md

[2022-07-04 14:41] byyue opened #2452 "To elaborate Regular Expression Patterns"
When reading [Regular Expression Patterns](https://docs.scala-lang.org/tour/regular-expression-patterns.html), one may like to know how to use regular expressions to differentiate input. I suggest adding a showcase to elaborate on the combination of regular expression patterns and pattern matching.

[2022-07-06 14:32] byyue commented on #2452
The regular expressions have been simplified deliberately.

[2022-07-26 15:30] #2343 closed

[2022-07-27 13:32] julienrf opened #2481 "Update code examples to show both Scala 2 and Scala 3 syntax"
We would like to have a single website documenting both Scala 2 and Scala 3 since, in most of the cases, their syntax is very similar, and their features are almost all the same. However, there can still be some syntactic differences between idiomatic Scala 2 code and idiomatic Scala 3 code. Therefore, we want to display both styles in our code examples by using tabs:

![Screenshot 2022-07-27 at 1

[2022-08-02 07:17] #2308 closed

[2022-08-03 00:40] #2452 closed

[2022-09-01 18:06] cayhorstmann opened #2509 "Wrong precedence of < > vs. ! ="
In https://docs.scala-lang.org/tour/operators.html, the precedence of `< >` vs `! =` doesn't match the Scala spec §6.12.3.

[2022-09-12 16:18] flomebul commented on #2481
I tried to update "Named Arguments". I'm waiting for feedback before trying update on other page.

[2022-09-15 08:50] bishabosha commented on #2481
I leave a note hear to say that https://docs.scala-lang.org/contribute/add-guides.html#scala-2-vs-scala-3 should be updated to explain the following points
-[ ] single tab for Scala 3 should read `"Scala 3 Only"`
-[ ] single tab for Scala 2 should read `"Scala 2 Only"`
-[ ] Scala 3 code tabs should not have mdoc in the code fence

[2022-09-16 14:28] bishabosha opened #2527 "mdoc checking is for 2.12 syntax"
@SethTisue @julienrf can we update to use the 2.13 version? or do we need to support 2.12 for a reason?

[2022-09-16 14:29] bishabosha commented on #2527
then to upgrade to 3 might also be seamless

[2022-09-16 15:07] SethTisue commented on #2527
totally go to 2.13! I'm sure it was just an oversight

[2022-09-16 16:31] kotobotov opened #2531 "parallel-collections' table of content disappears"
when i change the language on this page ( https://docs.scala-lang.org/overviews/parallel-collections/overview.html ) the table of content disappears

[2022-09-20 06:36] Khalian opened #2542 "Remove Scala Actors Migration Guide/Deprecate Page"
Akka has recently changed its licensing terms in https://github.com/akka/akka/pull/31561 and as a result https://docs.scala-lang.org/overviews/core/actors-migration-guide.html should not be encouraged since licensing is now an issue and the resulting code wont be Open Source by default.

Two possible suggestions

1. Put a deprecation warning with the Akka License change documentation https://www.l

[2022-09-20 08:06] #2527 closed

[2022-09-20 12:44] julienrf commented on #2542
I prefer keeping the page in case it is still useful to someone. It does not hurt, it’s already at the very bottom of the guides page.

I am happy with the solution of adding a note regarding the current license of Akka (even though that does not really apply to the version of Akka used in the migration guide).

[2022-09-20 16:47] Khalian commented on #2542
@julienrf Understood. I can put a note in there. Thanks.

[2022-09-20 17:28] SethTisue commented on #2542
I'd have been fine with just removing it, but if we're keeping it, then yes, adding notes or other adjustments that would make the current situation clear to current readers SGTM

[2022-09-21 08:02] bishabosha commented on #2531
fixed by https://github.com/scala/docs.scala-lang/pull/2546

[2022-09-21 08:02] #2531 closed

[2022-09-23 08:42] bishabosha opened #2559 "Fix front matter of zh-cn translation of scala 3 book"
e.g. https://docs.scala-lang.org/zh-cn/overviews/scala3-book/why-scala-3.html

without the front matter, the pages all have the wrong url, and have no layout applied

Edit: they still need the `language` field in order to have the language dropdown

[2022-09-26 08:11] bishabosha commented on #2559
@benluo

[2022-09-28 11:29] dalbani opened #2569 "Is the documentation about the "-release" compiler flag correct?"
From https://docs.scala-lang.org/overviews/compiler-options/index.html#targeting-a-version-of-the-jvm:

But, on the other hand, from https://docs.scala-lang.org/overviews/compiler-options/index.html#:~:text=%2Drelease%20RELEASE%20or%20%2D%2Drelease%20RELEASE:

So what are the supported targets? Only 6, 7, 8 and 9? Or also others?

[2022-09-30 09:19] dalbani commented on #2569
Just discovered https://github.com/scala/scala/pull/9982, having a look.

[2022-09-30 09:21] dalbani commented on #2308
For the record:

Looks like it was https://github.com/scala/scala/pull/9982.

[2022-10-04 08:11] #2509 closed

[2022-10-10 15:02] danecek opened #2601 "Missing production rule"
Missing production rule for **TypeParamClause** and **TypeArgs** in https://docs.scala-lang.org/scala3/reference/syntax.html

TypeDcl           ::=  id [TypeParamClause] {FunParamClause} TypeBounds [‘=’ Type] ;
SimpleType        ::=  SimpleLiteral
                    |  ‘?’ TypeBounds
                    |  id
                    |  Singleton ‘.’ id
                    |  Singleton ‘.’ ‘type’

[2022-10-10 15:23] flomebul commented on #1695
I eventually found one possible solution:
[code]
Do we have to add in the documentation?

[2022-10-10 15:43] flomebul commented on #1831
Look like to be solved by #1684 ?

[2022-10-10 18:01] strelec commented on #2542
This docs page looks so outdated it serves nobody, only to confuse.

A simple removal is the best option.

[2022-10-10 18:02] julienrf commented on #2542
I am fine with removing, in that case.

[2022-10-10 20:08] #1831 closed

[2022-10-10 20:08] SethTisue commented on #1831
Indeed! Thanks for noticing/reporting.

[2022-10-11 07:45] bishabosha commented on #2601
I think it is a typo and it should be `HkTypeParamClause`, but `TypeArgs` is listed on the page

[2022-10-11 08:40] som-snytt commented on #2569
The confusion duplicates https://github.com/scala/docs.scala-lang/issues/1711

Worth adding, `scalac -help` is authoritative.

[2022-10-11 08:40] #2569 closed

[2022-10-11 11:55] danecek commented on #2601
I am sorry for my mistake. Probably I exchanged **SimpleType1** for **TypeArgs** when I paste-copied from the rule to the comment.

[2022-10-11 12:22] bishabosha commented on #2601
I opened https://github.com/lampepfl/dotty/issues/16166 to track this, seeing as that is where the source for the scala 3 reference is

[2022-10-16 16:55] lorenzpahl opened #2607 "Empty table of contents on the glossary page"
The sidebar with the table of contents (TOC) on the [glossary page](https://docs.scala-lang.org/glossary/index.html) is currently empty. This is due to a change made by commit b88401fc (PR #1861). There, `h4` elements were excluded from the TOC. I think the easiest way to fix this would be to render the glossary terms using the `h3` element instead of `h4`.

[2022-10-17 13:11] bishabosha commented on #2607
Thanks for opening! I agree because I guess other pages will start adding too many levels of toc

[2022-10-17 13:12] bishabosha commented on #2607
looks like the search box functionality also depends on titles being h4

[2022-10-19 07:04] julienrf commented on #1695
Thank you for writing this issue @mtomko. The traits `IsSeq`, `IsIterable`, etc. are useful to support various types of “collection-like” types such as `Array`, `BitSet`, `Range`, or `String`. If you want to define an operation that will work on any collection type `CC[X] <: Iterable[X]` you can do it as follows:

[code]

However, keep in mind the limitations of this basic implementation:

- it wo

[2022-10-19 08:20] #2607 closed

[2022-10-25 06:57] SethTisue opened #2615 "Compiler options migration page was never updated for 3.0.0 final (or subsequent versions)"
https://docs.scala-lang.org/scala3/guides/migration/options-lookup.html says:

[2022-11-02 20:59] Khalian commented on #2542
Hey so I made the change in https://github.com/scala/docs.scala-lang/pull/2604 and deleted the actor migration guide. I presume at some point it would be picked up and reflected in the main scala docs website and we can close this?

[2022-11-02 21:04] julienrf commented on #2542
I agree to close this issue. Your changes have been published, as you can see here: https://docs.scala-lang.org/overviews/core/actors.html, and here: https://docs.scala-lang.org/overviews/index.html

However, for some reason the deleted page https://docs.scala-lang.org/overviews/core/actors-migration-guide.html is still here. It seems that the script that pulls the new website content does not rem

[2022-11-02 21:05] julienrf opened #2621 "Deleted pages are not removed from the website"
For some reason the deleted page https://docs.scala-lang.org/overviews/core/actors-migration-guide.html is still here. It seems that the script that pulls the new website content does not remove deleted pages.

_Originally posted by @julienrf in https://github.com/scala/docs.scala-lang/issues/2542#issuecomment-1301254543_

[2022-11-02 21:05] julienrf commented on #2621
@fsalvi could you please have a look?

[2022-11-02 21:05] #2542 closed

[2022-11-02 21:07] julienrf commented on #2542
Thank you for you help @Khalian!

[2022-11-02 23:07] strelec commented on #2542
Thanks!

Moreover, is there a reason that we are keeping the main Actors page?

https://docs.scala-lang.org/overviews/core/actors.html

I think there is a value of removing stuff that could potentially confuse new users. There are possibly more pages like this one that shall be removed.

[2022-11-03 07:21] SethTisue commented on #2542
I think the main Actors page should be removed, too.

[2022-11-03 07:40] julienrf commented on #2542
@strelec there is no reason for keeping it, it is still here just because nobody took the time to remove them properly. Would you be interested in helping?

[2022-11-03 10:27] fsalvi commented on #2621
By default, the script doesn't delete files but only update them to avoid the worst case where a random problem could lead to an empty site (but that can be changed in 2 seconds if needed).
Usually, the standard policy is more to replace deleted pages with redirects (using redirect_to) to avoid external links to the scala website returning a 404 error.

[2022-11-03 10:27] #2621 closed

[2022-11-03 14:52] julienrf commented on #2621
Thank you Fabien, I see that the removed pages are effectively not available anymore on the server. However, that revealed that we had some dead links, as shown by the CI failure: https://github.com/scala/docs.scala-lang/actions/runs/3386648392/jobs/5626321883

[2022-11-03 15:09] julienrf commented on #2621
I am fixing the links in #2624

[2022-11-06 00:55] Khalian commented on #2542
@julienrf Looks relatively straightforward. I can take it out.

[2022-11-10 14:31] alvinj commented on #2216
I just looked at this bug and that page, and if I understand it right, I think this has been completed as part of #2481, and can be closed?

[2022-11-10 14:51] erdnaxeli commented on #2216
I think you're right.

[2022-11-10 14:51] #2216 closed

[2022-11-21 17:21] smarter opened #2648 "Documentation states that "type inference proceeds one parameter list at a time" but this is not true in Scala 3."
This is stated in https://docs.scala-lang.org/tour/multiple-parameter-lists.html but while this mostly applies to Scala 2, it doesn't apply at all to Scala 3 where type variables are inferred as late as possible (but not later than needed). I discuss the differences between Scala 2 and 3 here in my talk on type inference: https://youtu.be/lMvOykNQ4zs?t=1216

[2022-11-21 20:22] julienrf commented on #2648
Could you suggest what should be the appropriate explanation in Scala 2 and in Scala 3?

[2022-11-21 20:31] smarter commented on #2648
I would just completely remove the "Drive type inference" section, or make it Scala 2 specific.